WexGit/Wex_DX/force-app/main/default/flows/implementationCaseCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Null_Checks</name>
        <label>Null Checks</label>
        <locationX>172</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Case_Do_We_Create</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Case_Do_We_Create</name>
        <label>Which Case Do We Create?</label>
        <locationX>383</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Activation</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__r.Program_Template_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Owner.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sinte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Automation_Settings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__r.BOCA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revolver Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__r.Billing_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>appRequest.Fleet_Enrollment__r.Program_Template_Account__r.Billing_Cycle__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activation_Case</targetReference>
            </connector>
            <label>Activation</label>
        </rules>
        <rules>
            <name>Parent</name>
            <conditionLogic>1 OR (4 AND 5 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__r.WEX_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Classic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__r.BOCA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revolver Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__r.Billing_Cycle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>appRequest.Fleet_Enrollment__r.Program_Template_Account__r.Billing_Cycle__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__r.Program_Template_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Case</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
        <rules>
            <name>Hierarchy</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__r.BOCA_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Revolver Card</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Opportunity__r.Campaign_Program__r.Program__r.WEX_Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Millennium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRequest.Fleet_Enrollment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hierarchy_Case</targetReference>
            </connector>
            <label>Hierarchy</label>
        </rules>
    </decisions>
    <description>Used to Create Implementation Cases - Launched by App Request Created &amp; Updated process builder</description>
    <formulas>
        <name>ActivationSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Implementation Activation Case&apos; + &apos; - &apos; + {!appRequest.Opportunity_Name_Text__c}</expression>
    </formulas>
    <formulas>
        <name>HierarchySubject</name>
        <dataType>String</dataType>
        <expression>&apos;Implementation Hierarchy Case&apos; + &apos; - &apos; + {!appRequest.Opportunity_Name_Text__c}</expression>
    </formulas>
    <formulas>
        <name>ParentSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Implementation Parent Case&apos; + &apos; - &apos; + {!appRequest.Opportunity_Name_Text__c}</expression>
    </formulas>
    <interviewLabel>implementationCaseCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>implementationCaseCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activation_Case</name>
        <label>Create Activation Case</label>
        <locationX>536</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>App_Request_This_Case__c</field>
            <value>
                <elementReference>appRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GozI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>appRequest.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004LhXs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000N2ONAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActivationSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Hierarchy_Case</name>
        <label>Create Hierarchy Case</label>
        <locationX>534</locationX>
        <locationY>565</locationY>
        <inputAssignments>
            <field>App_Request_This_Case__c</field>
            <value>
                <elementReference>appRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GozI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>appRequest.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004LnOM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000N2ONAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>HierarchySubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Case</name>
        <label>Create Parent Case</label>
        <locationX>642</locationX>
        <locationY>305</locationY>
        <inputAssignments>
            <field>App_Request_This_Case__c</field>
            <value>
                <elementReference>appRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GozI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>appRequest.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000003xgWc</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120g000000N2ONAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ParentSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Automation_Settings</name>
        <label>Get Automation Settings</label>
        <locationX>180</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checks</targetReference>
        </connector>
        <filters>
            <field>Role_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IS Sales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appRequest.Opportunity__r.Owner.UserRole.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Role</stringValue>
            </value>
        </filters>
        <object>Implementation_Automation_Setting__mdt</object>
        <outputReference>automationSetting</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Automation_Settings</startElementReference>
    <status>Active</status>
    <variables>
        <name>appReq</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Request__c</objectType>
    </variables>
    <variables>
        <name>appRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_Request__c</objectType>
    </variables>
    <variables>
        <name>automationSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Implementation_Automation_Setting__mdt</objectType>
    </variables>
</Flow>
