WexGit/Wex_DX/force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1868906724576052041bb31cf59c469f_FireJBTrigger</name>
        <label>SalesforceObj1868906724576052041bb31cf59c469f_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1868906724576052041bb31cf59c469f</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Language_Code__c&quot;,&quot;X18_Character_Program_Id__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;State&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PostalCode&quot;,&quot;Coupon_Code__c&quot;,&quot;Coupon_Code_2__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_FireJBTrigger</name>
        <label>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;State&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PostalCode&quot;,&quot;Coupon_Code__c&quot;,&quot;Coupon_Code_2__c&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Language_Code__c&quot;,&quot;X18_Character_Program_Id__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj81df72645054e8ad2c36d218f5f2b45e_FireJBTrigger</name>
        <label>SalesforceObj81df72645054e8ad2c36d218f5f2b45e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj81df72645054e8ad2c36d218f5f2b45e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Language_Code__c&quot;,&quot;X18_Character_Program_Id__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;State&quot;,&quot;LastName&quot;,&quot;State__c&quot;,&quot;FirstName&quot;,&quot;PostalCode&quot;,&quot;Coupon_Code__c&quot;,&quot;Coupon_Code_2__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;AU_Postal_Postcode__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb11c80b2f421202a82efea2becfc2669_FireJBTrigger</name>
        <label>SalesforceObjb11c80b2f421202a82efea2becfc2669_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb11c80b2f421202a82efea2becfc2669</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;X18_Character_Program_Id__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;State&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PostalCode&quot;,&quot;Coupon_Code__c&quot;,&quot;Coupon_Code_2__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;i2i_Coupon_Code_Pass__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</name>
        <label>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1868906724576052041bb31cf59c469f_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1868906724576052041bb31cf59c469f_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1868906724576052041bb31cf59c469f_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</name>
        <label>JB_Decision_Null_Check_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</name>
        <label>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</name>
        <label>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb11c80b2f421202a82efea2becfc2669_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb11c80b2f421202a82efea2becfc2669_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb11c80b2f421202a82efea2becfc2669_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1868906724576052041bb31cf59c469f_Decision</name>
        <label>JB_SalesforceObj1868906724576052041bb31cf59c469f_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb11c80b2f421202a82efea2becfc2669</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1868906724576052041bb31cf59c469f</name>
            <conditionLogic>( ( (1 OR 2)  AND  (3 AND 4) )  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QBW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q7E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1868906724576052041bb31cf59c469f_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1868906724576052041bb31cf59c469f</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_Decision</name>
        <label>JB_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</name>
            <conditionLogic>( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( ( (1 OR 2)  OR 3)  OR 4)  OR 5)  OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13)  OR 14)  OR 15)  OR 16)  OR 17)  OR 18)  OR 19)  OR 20)  AND  (21 AND 22) )  AND 23)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VG4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VJ2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VTJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V86</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V6S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V5Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>V38</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NKV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VRH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VQ9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RVF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VZP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VRJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YSV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NVC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>F3V</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ZSV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GVF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FV3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Decision</name>
        <label>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj81df72645054e8ad2c36d218f5f2b45e</name>
            <conditionLogic>( ( ( (1 AND  (2 OR 3) )  AND  ( (4 OR 5)  OR 6) )  AND  ( (7 AND 8)  OR 9) )  AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.qRouting__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>WebPartialApp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012700000005vz1AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012700000005g1KAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Untouched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj81df72645054e8ad2c36d218f5f2b45e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj81df72645054e8ad2c36d218f5f2b45e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_State_change_Decision</name>
        <label>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1868906724576052041bb31cf59c469f</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</name>
            <conditionLogic>NOT  ( ( ( (1 AND  (2 OR 3) )  AND  ( (4 OR 5)  OR 6) )  AND  ( (7 AND 8)  OR 9) )  AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.qRouting__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>WebPartialApp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012700000005vz1AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012700000005g1KAAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Untouched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj81df72645054e8ad2c36d218f5f2b45e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj81df72645054e8ad2c36d218f5f2b45e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb11c80b2f421202a82efea2becfc2669_Decision</name>
        <label>JB_SalesforceObjb11c80b2f421202a82efea2becfc2669_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb11c80b2f421202a82efea2becfc2669</name>
            <conditionLogic>( ( ( ( ( ( ( (1 OR 2)  OR 3)  OR 4)  OR 5)  OR 6)  AND 7)  AND 8)  AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR2345</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR5432</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.i2i_Coupon_Code_Pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR2345</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.i2i_Coupon_Code_Pass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR5432</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR2345</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTR5432</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb11c80b2f421202a82efea2becfc2669_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb11c80b2f421202a82efea2becfc2669</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj73a43cadafa50b1869d79ce1f3c80e99</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
