WexGit/Wex_DX/force-app/main/default/flows/JBSystemFlow_Application_Request_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_FireJBTrigger</name>
        <label>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;App_Signer__c&quot;,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Application_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_Name__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Account_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Wex_Account__c&quot;,&quot;Credit_Limit_USD__c&quot;,&quot;Preferred_Language__c&quot;,&quot;Credit_Limit_Approved_Equifax__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:App_Signer__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MailingState&quot;,&quot;MailingPostalCode&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Coupon_Code__c&quot;,&quot;Account_Name__c&quot;,&quot;Preferred_Language__c&quot;,&quot;Approved_Credit_Limit__c&quot;,&quot;X18_Character_Program_Id_WF_TXT__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;FleetEnrollment__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Fleet_Enrollment__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Fleet_Enrollment__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Has_Fleet_Enrollment_Data__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3a803c29b28729b59fb12a735f5c096c_FireJBTrigger</name>
        <label>SalesforceObj3a803c29b28729b59fb12a735f5c096c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;App_Signer__c&quot;,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Application_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3a803c29b28729b59fb12a735f5c096c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_Name__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Account_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Preferred_Language__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:App_Signer__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;MailingState&quot;,&quot;MailingPostalCode&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;RecordTypeId&quot;,&quot;Fraud_Flag__c&quot;,&quot;Coupon_Code__c&quot;,&quot;Instant_Approval__c&quot;,&quot;Preferred_Language__c&quot;,&quot;X18_Character_Program_Id_WF_TXT__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Opportunity_Owner_Role__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6ce7145a62298241fb8ba833913dbe38_FireJBTrigger</name>
        <label>SalesforceObj6ce7145a62298241fb8ba833913dbe38_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;App_Signer__c&quot;,
  &quot;relationshipName&quot;: &quot;App_Signer__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Application_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6ce7145a62298241fb8ba833913dbe38</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_Name__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Account_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;BillingCountry&quot;,&quot;Preferred_Language__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:App_Signer__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;MailingCountry&quot;,&quot;EmailBouncedReason&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Fraud_Flag__c&quot;,&quot;Coupon_Code__c&quot;,&quot;Credit_Decision__c&quot;,&quot;Decline_Letter_Types__c&quot;,&quot;X18_Character_Program_Id_WF_TXT__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Opportunity_Owner_Role__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf3ef1753689b0414698a69582b506dcc_FireJBTrigger</name>
        <label>SalesforceObjf3ef1753689b0414698a69582b506dcc_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;App_Signer__c&quot;,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Application_Request__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf3ef1753689b0414698a69582b506dcc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_Name__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Account_Name__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;BillingCountry&quot;,&quot;Preferred_Language__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;App_Signer__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:App_Signer__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;MailingCountry&quot;,&quot;EmailBouncedReason&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;BPAV_Check__c&quot;,&quot;Fraud_Flag__c&quot;,&quot;Coupon_Code__c&quot;,&quot;Credit_Decision__c&quot;,&quot;Lexis_Nexis_Check__c&quot;,&quot;Decline_Letter_Types__c&quot;,&quot;X18_Character_Program_Id_WF_TXT__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Opportunity&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Opportunity__r&quot;,&quot;dePrefix&quot;:&quot;Application_Request__c:Opportunity__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Opportunity_Owner_Role__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</name>
        <label>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
            </connector>
            <label>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</name>
        <label>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</targetReference>
            </connector>
            <label>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</name>
        <label>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf3ef1753689b0414698a69582b506dcc</name>
        <label>JB_Decision_Null_Check_SalesforceObjf3ef1753689b0414698a69582b506dcc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
            </connector>
            <label>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Decision</name>
        <label>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</name>
            <conditionLogic>( ( ( (1 AND  (2 OR 3) )  AND 4)  AND 5)  And  ( (6 AND 7)  AND  ( ( ( ( ( ( ( ( ( ( ( (8 AND 9)  OR  (10 AND 11) )  OR  (12 AND 13) )  OR  (14 AND 15) )  OR  (16 AND 17) )  OR  (18 AND 19) )  OR  (20 AND 21) )  OR  (22 AND 23) )  OR  (24 AND 25) )  OR  (26 AND 27) )  OR  (28 AND 29) )  OR  (30 AND 31) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Rereview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Approved_Credit_Limit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Development Role</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Inbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Outbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Closer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_State_change_Decision</name>
        <label>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3a803c29b28729b59fb12a735f5c096c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</name>
            <conditionLogic>NOT  ( ( (1 AND  (2 OR 3) )  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Rereview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Approved_Credit_Limit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Decision</name>
        <label>JB_SalesforceObj3a803c29b28729b59fb12a735f5c096c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6ce7145a62298241fb8ba833913dbe38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3a803c29b28729b59fb12a735f5c096c</name>
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.EmailBouncedReason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3a803c29b28729b59fb12a735f5c096c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3a803c29b28729b59fb12a735f5c096c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Decision</name>
        <label>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6ce7145a62298241fb8ba833913dbe38</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  And  ( ( ( ( ( ( ( ( ( ( ( ( ( (5 AND 6)  OR  (7 AND 8) )  OR  (9 AND 10) )  OR  (11 AND 12) )  OR  (13 AND 14) )  OR  (15 AND 16) )  OR  (17 AND 18) )  OR  (19 AND 20) )  OR  (21 AND 22) )  OR  (23 AND 24) )  OR  (25 AND 26) )  OR  (27 AND 28) )  OR  (29 AND 30) )  AND  ( ( ( ( (31 AND 32)  AND  (33 AND 34) )  AND  (35 AND 36) )  AND  (37 AND 38) )  OR  ( (39 AND 40)  OR  (41 AND 42) ) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Instant_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00570000001LkjsAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Development Role</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Inbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Closer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Outbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6ce7145a62298241fb8ba833913dbe38_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6ce7145a62298241fb8ba833913dbe38</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_State_change_Decision</name>
        <label>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6ce7145a62298241fb8ba833913dbe38</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Instant_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6ce7145a62298241fb8ba833913dbe38_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6ce7145a62298241fb8ba833913dbe38</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Decision</name>
        <label>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf3ef1753689b0414698a69582b506dcc</name>
            <conditionLogic>( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  And  ( ( ( ( ( ( ( ( ( ( ( ( ( ( (6 AND 7)  OR  (8 AND 9) )  OR  (10 AND 11) )  OR  (12 AND 13) )  OR  (14 AND 15) )  OR  (16 AND 17) )  OR  (18 AND 19) )  OR  (20 AND 21) )  OR  (22 AND 23) )  OR  (24 AND 25) )  OR  (26 AND 27) )  OR  (28 AND 29) )  OR  (30 AND 31) )  OR  ( ( ( (32 AND 33)  AND  (34 AND 35) )  AND  (36 AND 37) )  AND  (38 AND 39) ) )  OR  ( (40 AND 41)  OR  (42 AND 43) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Instant_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer_Email__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>sfmctest@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00570000001LkjsAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Development Role</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Inbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Closer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity__r.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Outbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_Name__r.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.App_Signer__r.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf3ef1753689b0414698a69582b506dcc_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf3ef1753689b0414698a69582b506dcc</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_State_change_Decision</name>
        <label>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj0bc898e7a838a3e2c9893174f6f63c38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjf3ef1753689b0414698a69582b506dcc</name>
            <conditionLogic>NOT  ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.App_Signer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Fraud_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Instant_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.App_Signer_Email__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>sfmctest@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf3ef1753689b0414698a69582b506dcc_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjf3ef1753689b0414698a69582b506dcc</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Application_Request_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjf3ef1753689b0414698a69582b506dcc</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Request__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_Request__c</objectType>
    </variables>
</Flow>
