WexGit/Wex_DX/force-app/main/default/flows/NA_Add_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Country_Picklist_Default_Value</name>
        <choiceText>United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>United States</stringValue>
        </value>
    </choices>
    <constants>
        <description>RecordType Id for the AccountMaintenanceTask Contact record type</description>
        <name>ContactRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120g0000009upqAAA</stringValue>
        </value>
    </constants>
    <constants>
        <description>URL for the customer response survey</description>
        <name>surveyUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://wex.qualtrics.com/jfe/form/SV_brXwf6tXbMYsL09</stringValue>
        </value>
    </constants>
    <description>Removed survey link</description>
    <dynamicChoiceSets>
        <name>Country_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Country__c</picklistField>
        <picklistObject>Account_Maintenance_Task__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_State__c</picklistField>
        <picklistObject>Account_Maintenance_Task__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Contact_Create_Task</name>
        <label>Add_Contact_Create_Task</label>
        <locationX>420</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Add_Contact_Confirm</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>Contact_Email_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Phone__c</field>
            <value>
                <elementReference>Contact_Phone_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Add</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ContactRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Account_Maintenance_Task__c</object>
    </recordCreates>
    <screens>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>241</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Contact_Create_Task</targetReference>
        </connector>
        <fields>
            <name>Add_Contact_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Add Contact&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please fill out the required fields below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Contact_Email_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact_Email_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Contact_Phone_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Contact_Confirm</name>
        <label>Add_Contact_Confirm</label>
        <locationX>660</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Add_Driver_Complete</name>
            <fieldText>&lt;p&gt;Your request to add a contact has been submitted and will be processed within 24-48 hours.&lt;/p&gt;&lt;p&gt;To add another contact click &quot;Finish&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Log into &lt;a href=&quot;{!onlineUrl}&quot; target=&quot;_blank&quot;&gt;your online account&lt;/a&gt; to view your new contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Add_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>Contact_Email_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Phone_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>URL for the customer&apos;s WEXOnline site</description>
        <name>onlineUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
