WexGit/Wex_DX/force-app/main/default/flows/WES_Customer_and_Applicant_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Duplicate_Values</name>
        <label>Assign Duplicate Values</label>
        <locationX>369</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Company.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateCompanyLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateCompanyLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Company_Duplicate_Already_Set</name>
        <label>Company Duplicate Already Set?</label>
        <locationX>583</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Assign_Duplicate_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Not Set</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateAccountName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Company.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Details_0</targetReference>
            </connector>
            <label>Duplicate Set</label>
        </rules>
    </decisions>
    <formulas>
        <name>DuplicateCompanyLink</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Company.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!Company.Name}&amp;&apos;&lt;/a&gt; &apos;
&amp;IF({!AppCompany.WES_VAT_Reg_Num__c} = {!Company.WES_VAT_Reg_Num__c}, &quot; - VAT Match&quot;, &quot;&quot;)
&amp;IF({!AppCompany.WES_Bank_Account_Number__c} = {!Company.WES_Bank_Account_Number__c}, &quot; - Bank Account Match&quot;, &quot;&quot;)
&amp;IF({!AppCompany.Company_registration_number__c} = {!Company.Company_registration_number__c}, &quot; - Company Reg # Match&quot;, &quot;&quot;)
&amp;IF(AND(
{!AppCompany.WES_VAT_Reg_Num__c} &lt;&gt; {!Company.WES_VAT_Reg_Num__c},
{!AppCompany.Company_registration_number__c} &lt;&gt; {!Company.Company_registration_number__c},
{!AppCompany.WES_Bank_Account_Number__c} &lt;&gt; {!Company.WES_Bank_Account_Number__c}), &quot; - Company Info Match&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>WES Customer and Applicant Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WES Customer and Applicant Check</label>
    <loops>
        <name>Find_Duplicate_Details</name>
        <label>Find Duplicate Details</label>
        <locationX>41</locationX>
        <locationY>315</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Potential_Duplicate_Companies_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_Duplicate_Companies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Duplicate_Details_0</name>
        <label>Find Duplicate Details</label>
        <locationX>391</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecord2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate_Company_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Duplicate_Company_Info</name>
        <label>Duplicate Company Info</label>
        <locationX>532</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Duplicate_Already_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Company.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.WES_Bank_Account_Number__c</assignToReference>
            <field>WES_Bank_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_App_Company_Details</name>
        <label>Find App Company Details</label>
        <locationX>36</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Potential_Duplicate_Companies</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AppCompany.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.WES_Bank_Account_Number__c</assignToReference>
            <field>WES_Bank_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>37</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies_0</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>218</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
        <filters>
            <field>DuplicateRecordSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.DuplicateRecordSetId</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecord2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <screens>
        <name>Show_Duplicate_Companies</name>
        <label>Show Duplicate Companies</label>
        <locationX>36</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateEntryScreen</name>
            <fieldText>RecordID: {!recordid}

Potential Previous Applicants or Customers:

{!DuplicateCompanyLinks}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>44</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_App_Company_Details</targetReference>
        </connector>
        <fields>
            <name>StartDirections</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click the Next button&lt;/B&gt; for a list of potential previous applicants or customers.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Start</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>CompanyLink</name>
        <text>&lt;br/&gt;&lt;a href = &quot;/{!DuplicateRecordItem.RecordId}&quot;&gt;{!DuplicateRecordItem.RecordId}&lt;/a&gt; - {!varDuplicateRuleName}</text>
    </textTemplates>
    <variables>
        <name>AppCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DuplicateAccountName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateCompanyLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecordItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
