src/flows/Calculate_Commission.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Annual Settlement Set / Updated</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
  AND(
    [Opportunity].Annual_Settlement_Value__c &gt; 0,
    [Opportunity].Annual_Settlement_Value__c &lt;= 5000000
    ),
  /* 0.0175 estimated gross interchange minus estimated rebate */
  ([Opportunity].Annual_Settlement_Value__c * 0.0175) * 0.07,
  IF(
    AND(
      [Opportunity].Annual_Settlement_Value__c &gt; 5000000,
      [Opportunity].Annual_Settlement_Value__c &lt;= 12000000
      ),
    ([Opportunity].Annual_Settlement_Value__c * 0.0147) * 0.07,
    IF(
      AND(
        [Opportunity].Annual_Settlement_Value__c &gt; 12000000,
        [Opportunity].Annual_Settlement_Value__c &lt;= 50000000
        ),
        ([Opportunity].Annual_Settlement_Value__c * 0.0128) * 0.07,
        IF(
          AND(
            [Opportunity].Annual_Settlement_Value__c &gt; 50000000,
            [Opportunity].Annual_Settlement_Value__c &lt;= 100000000
            ),
            ([Opportunity].Annual_Settlement_Value__c * 0.00113) * 0.07,
            null
))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Commission_c</name>
        <dataType>Currency</dataType>
        <expression>IF(
  AND(
    {!myVariable_current.Annual_Settlement_Value__c} &gt; 0,
    {!myVariable_current.Annual_Settlement_Value__c} &lt;= 5000000
    ),
  /* 0.0175 estimated gross interchange minus estimated rebate */
  ({!myVariable_current.Annual_Settlement_Value__c} * 0.0175) * 0.07,
  IF(
    AND(
      {!myVariable_current.Annual_Settlement_Value__c} &gt; 5000000,
      {!myVariable_current.Annual_Settlement_Value__c} &lt;= 12000000
      ),
    ({!myVariable_current.Annual_Settlement_Value__c} * 0.0147) * 0.07,
    IF(
      AND(
        {!myVariable_current.Annual_Settlement_Value__c} &gt; 12000000,
        {!myVariable_current.Annual_Settlement_Value__c} &lt;= 50000000
        ),
        ({!myVariable_current.Annual_Settlement_Value__c} * 0.0128) * 0.07,
        IF(
          AND(
            {!myVariable_current.Annual_Settlement_Value__c} &gt; 50000000,
            {!myVariable_current.Annual_Settlement_Value__c} &lt;= 100000000
            ),
            ({!myVariable_current.Annual_Settlement_Value__c} * 0.00113) * 0.07,
            null
))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
  [Opportunity].Record_Type_Name__c  = &apos;MasterCard&apos;,
  /* have to use Role Name because object reference limits prevent use of Profile Name */
  [Opportunity].Owner.UserRole.DeveloperName = &apos;Strategic_Sales_Manager_Virtual_NA&apos;,
  OR(
    AND(
      ISNEW(),
      [Opportunity].Annual_Settlement_Value__c &gt; 0
      ),
    ISCHANGED([Opportunity].Annual_Settlement_Value__c)
    )
)
  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!myVariable_current.Record_Type_Name__c}  = &apos;MasterCard&apos;,
  /* have to use Role Name because object reference limits prevent use of Profile Name */
  {!myVariable_current.Owner.UserRole.DeveloperName} = &apos;Strategic_Sales_Manager_Virtual_NA&apos;,
  OR(
    AND(
      ISNEW(),
      {!myVariable_current.Annual_Settlement_Value__c} &gt; 0
      ),
    ISCHANGED({!myVariable_current.Annual_Settlement_Value__c})
    )
)</expression>
    </formulas>
    <interviewLabel>Calculate_Commission-7_Opportunity</interviewLabel>
    <label>Calculate Commission</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Calculate Commission</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Commission</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Commission__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Commission_c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
