src/flows/Case_Collections_Queue_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_of_Queue_Assignment</name>
        <label>Email Alert of Queue Assignment</label>
        <locationX>4356</locationX>
        <locationY>3620</locationY>
        <actionName>Case.Collections_Case_assigned_to_Bankruptcy_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignToBankruptcyQueue</name>
        <label>AssignToBankruptcyQueue</label>
        <locationX>3716</locationX>
        <locationY>3619</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bankruptcyCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_of_Queue_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToDefaultQueue</name>
        <label>AssignToDefaultQueue</label>
        <locationX>3587</locationX>
        <locationY>3551</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultVariable.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToDefaultQueue_0</name>
        <label>AssignToDefaultQueue</label>
        <locationX>5095</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultVariable.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToFollowUpQueue</name>
        <label>AssignToFollowUpQueue</label>
        <locationX>3808</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_FollowUpCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpQueueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing</name>
        <label>line routing</label>
        <locationX>5230</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0</name>
        <label>line routing</label>
        <locationX>4655</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0</name>
        <label>line routing</label>
        <locationX>5219</locationX>
        <locationY>1738</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0</name>
        <label>line routing</label>
        <locationX>4962</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0</name>
        <label>line routing</label>
        <locationX>2906</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>no_action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3599</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_LVAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3802</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_HVAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3757</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3782</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_AssignToOutsourcedQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopBankruptcyAssignment</name>
        <label>LoopBankruptcyAssignment</label>
        <locationX>2046</locationX>
        <locationY>3316</locationY>
        <assignmentItems>
            <assignToReference>bankruptcyCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopDefaultAssignment</name>
        <label>LoopDefaultAssignment</label>
        <locationX>1415</locationX>
        <locationY>2554</locationY>
        <assignmentItems>
            <assignToReference>DefaultVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopDefaultAssignment_0</name>
        <label>LoopDefaultAssignment</label>
        <locationX>412</locationX>
        <locationY>1866</locationY>
        <assignmentItems>
            <assignToReference>DefaultVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopFollowUpAssignment</name>
        <label>LoopFollowUpAssignment</label>
        <locationX>1960</locationX>
        <locationY>3448</locationY>
        <assignmentItems>
            <assignToReference>OTR_FollowUpCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopSoldAccountsAssignment</name>
        <label>LoopSoldAccountsAssignment</label>
        <locationX>2128</locationX>
        <locationY>3439</locationY>
        <assignmentItems>
            <assignToReference>OTR_SoldAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToHVARQueue</name>
        <label>NAF - AssignToHVARQueue</label>
        <locationX>4488</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToLateStageQueue</name>
        <label>NAF - AssignToLateStageQueue</label>
        <locationX>4418</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_LateStageCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToLVARQueue</name>
        <label>NAF - AssignToLVARQueue</label>
        <locationX>4930</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToMVARQueue</name>
        <label>NAF - AssignToMVARQueue</label>
        <locationX>4286</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToOutsourcedQueue</name>
        <label>NAF - AssignToOutsourcedQueue</label>
        <locationX>4294</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_OutsourcedCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToSelfcureQueue</name>
        <label>NAF - AssignToSelfcureQueue</label>
        <locationX>4302</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_SelfcureCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToStrategicAccountsQueue</name>
        <label>NAF - AssignToStrategicAccountsQueue</label>
        <locationX>4189</locationX>
        <locationY>1744</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_StrategicAccountsCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToHVARQueue</name>
        <label>NAF Canada - AssignToHVARQueue</label>
        <locationX>4609</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToLVARQueue</name>
        <label>NAF Canada - AssignToLVARQueue</label>
        <locationX>4818</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToMVARQueue</name>
        <label>NAF Canada - AssignToMVARQueue</label>
        <locationX>4162</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToHVARQueue</name>
        <label>NAF Canada Fr - AssignToHVARQueue</label>
        <locationX>4609</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToLVARQueue</name>
        <label>NAF Canada Fr - AssignToLVARQueue</label>
        <locationX>4932</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToMVARQueue</name>
        <label>NAF Canada Fr - AssignToMVARQueue</label>
        <locationX>4283</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopHVARAssignment</name>
        <label>NAF Canada Fr - LoopHVARAssignment</label>
        <locationX>50</locationX>
        <locationY>3152</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopLVARAssignment</name>
        <label>NAF Canada Fr - LoopLVARAssignment</label>
        <locationX>286</locationX>
        <locationY>3149</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopMVARAssignment</name>
        <label>NAF Canada Fr - LoopMVARAssignment</label>
        <locationX>160</locationX>
        <locationY>3150</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopHVARAssignment_0</name>
        <label>NAF Canada - LoopHVARAssignment</label>
        <locationX>484</locationX>
        <locationY>3154</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopLVARAssignment_0</name>
        <label>NAF Canada - LoopLVARAssignment</label>
        <locationX>700</locationX>
        <locationY>3159</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopMVARAssignment_0</name>
        <label>NAF Canada - LoopMVARAssignment</label>
        <locationX>591</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToHVARQueue</name>
        <label>NAF Flex - AssignToHVARQueue</label>
        <locationX>4489</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToLVARQueue</name>
        <label>NAF Flex - AssignToLVARQueue</label>
        <locationX>4818</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToMVARQueue</name>
        <label>NAF Flex - AssignToMVARQueue</label>
        <locationX>4164</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopHVARAssignment_0</name>
        <label>NAF Flex - LoopHVARAssignment</label>
        <locationX>88</locationX>
        <locationY>3423</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopLVARAssignment_0</name>
        <label>NAF Flex - LoopLVARAssignment</label>
        <locationX>366</locationX>
        <locationY>3405</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopMVARAssignment_0</name>
        <label>NAF Flex - LoopMVARAssignment</label>
        <locationX>215</locationX>
        <locationY>3424</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopHVARAssignment_0_0</name>
        <label>NAF - LoopHVARAssignment</label>
        <locationX>865</locationX>
        <locationY>3160</locationY>
        <assignmentItems>
            <assignToReference>NAF_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopLateStageAssignment_0</name>
        <label>NAF - LoopLateStageAssignment</label>
        <locationX>649</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>NAF_LateStageCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopLVARAssignment_0</name>
        <label>NAF - LoopLVARAssignment</label>
        <locationX>1092</locationX>
        <locationY>3166</locationY>
        <assignmentItems>
            <assignToReference>NAF_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopMVARAssignment_0</name>
        <label>NAF - LoopMVARAssignment</label>
        <locationX>975</locationX>
        <locationY>3165</locationY>
        <assignmentItems>
            <assignToReference>NAF_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopOutsourcedAssignment</name>
        <label>NAF - LoopOutsourcedAssignment</label>
        <locationX>527</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>NAF_OutsourcedCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopSelfcureAssignment_0</name>
        <label>NAF - LoopSelfcureAssignment</label>
        <locationX>796</locationX>
        <locationY>3438</locationY>
        <assignmentItems>
            <assignToReference>NAF_SelfcureCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopSoldAccountsAssignment</name>
        <label>NAF - LoopSoldAccountsAssignment</label>
        <locationX>1038</locationX>
        <locationY>3439</locationY>
        <assignmentItems>
            <assignToReference>NAF_SoldAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopStrategicAccountsAssignment</name>
        <label>NAF - LoopStrategicAccountsAssignment</label>
        <locationX>915</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>NAF_StrategicAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_action</name>
        <label>no action</label>
        <locationX>2624</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>no_match</name>
        <label>no match</label>
        <locationX>1413</locationX>
        <locationY>2355</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_match_0</name>
        <label>no match</label>
        <locationX>410</locationX>
        <locationY>1667</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToHVARQueue</name>
        <label>OTR - AssignToHVARQueue</label>
        <locationX>3982</locationX>
        <locationY>4056</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToLateStageQueue</name>
        <label>OTR - AssignToLateStageQueue</label>
        <locationX>3895</locationX>
        <locationY>4300</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_LateStageCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToLVARQueue</name>
        <label>OTR - AssignToLVARQueue</label>
        <locationX>3785</locationX>
        <locationY>4215</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToMVARQueue</name>
        <label>OTR - AssignToMVARQueue</label>
        <locationX>3891</locationX>
        <locationY>4151</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToOutsourcedQueue</name>
        <label>OTR - AssignToOutsourcedQueue</label>
        <locationX>3670</locationX>
        <locationY>4299</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_OutsourcedCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToSelfcureQueue</name>
        <label>OTR - AssignToSelfcureQueue</label>
        <locationX>3781</locationX>
        <locationY>4359</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_SelfcureCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToStrategicAccountQueue</name>
        <label>OTR - AssignToStrategicAccountQueue</label>
        <locationX>3995</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_StrategicAccountsCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopEarlyEscalationAssignment</name>
        <label>OTR - LoopEarlyEscalationAssignment</label>
        <locationX>1350</locationX>
        <locationY>3460</locationY>
        <assignmentItems>
            <assignToReference>OTR_OutsourcedCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopHVARAssignment</name>
        <label>OTR - LoopHVARAssignment</label>
        <locationX>1300</locationX>
        <locationY>3296</locationY>
        <assignmentItems>
            <assignToReference>OTR_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopLateStageAssignment</name>
        <label>OTR - LoopLateStageAssignment</label>
        <locationX>1452</locationX>
        <locationY>3467</locationY>
        <assignmentItems>
            <assignToReference>OTR_LateStageCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopLVARAssignment</name>
        <label>OTR - LoopLVARAssignment</label>
        <locationX>1506</locationX>
        <locationY>3300</locationY>
        <assignmentItems>
            <assignToReference>OTR_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopMVARAssignment</name>
        <label>OTR - LoopMVARAssignment</label>
        <locationX>1405</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>OTR_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopNationalAccountAssignment</name>
        <label>OTR - LoopNationalAccountAssignment</label>
        <locationX>1594</locationX>
        <locationY>3303</locationY>
        <assignmentItems>
            <assignToReference>OTR_StrategicAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopSelfcureAssignment</name>
        <label>OTR - LoopSelfcureAssignment</label>
        <locationX>1553</locationX>
        <locationY>3466</locationY>
        <assignmentItems>
            <assignToReference>OTR_SelfcureCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_collection_record</name>
        <label>set collection record</label>
        <locationX>1327</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>collectionsRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_collection_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_DPD_Bucket_with_RUS</name>
        <label>set DPD Bucket with RUS</label>
        <locationX>3273</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>otrDPDBucketHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VAR_DPD_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collection_DPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_DPD_with_RUS</name>
        <label>set DPD with RUS</label>
        <locationX>3088</locationX>
        <locationY>3459</locationY>
        <assignmentItems>
            <assignToReference>otrDaysPastDueHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.DPD_OTR_High_Rollup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>which_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_DPD</name>
        <label>set high DPD</label>
        <locationX>2905</locationX>
        <locationY>3315</locationY>
        <assignmentItems>
            <assignToReference>otrDaysPastDueHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_collection_record.Days_Past_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>which_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_DPD_Bucket</name>
        <label>set high DPD Bucket</label>
        <locationX>2899</locationX>
        <locationY>3135</locationY>
        <assignmentItems>
            <assignToReference>otrDPDBucketHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VAR_DPD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collection_DPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_past_due_amount</name>
        <label>set high past due amount</label>
        <locationX>2901</locationX>
        <locationY>2979</locationY>
        <assignmentItems>
            <assignToReference>otrPastDueAmountHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.Past_Due_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_DPD_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_var</name>
        <label>set high var</label>
        <locationX>2895</locationX>
        <locationY>2641</locationY>
        <assignmentItems>
            <assignToReference>otrVaRHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VAR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_VaR_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_var_rate</name>
        <label>set high var rate</label>
        <locationX>2892</locationX>
        <locationY>2829</locationY>
        <assignmentItems>
            <assignToReference>otrVaRRateHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VaR_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_Past_Due_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_past_due_amount_with_RUS</name>
        <label>set past due amount with RUS</label>
        <locationX>3275</locationX>
        <locationY>2982</locationY>
        <assignmentItems>
            <assignToReference>otrPastDueAmountHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Past_Due_Amount_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_DPD_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_var_rate_with_RUS</name>
        <label>set var rate with RUS</label>
        <locationX>3279</locationX>
        <locationY>2832</locationY>
        <assignmentItems>
            <assignToReference>otrVaRRateHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VaR_Rate_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_Past_Due_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_var_with_RUS</name>
        <label>set var with RUS</label>
        <locationX>3267</locationX>
        <locationY>2644</locationY>
        <assignmentItems>
            <assignToReference>otrVaRHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VaR_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_VaR_Rate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>caseNullCheck</name>
        <label>caseNullCheck</label>
        <locationX>3076</locationX>
        <locationY>2131</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>case_OTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contract</targetReference>
            </connector>
            <label>case - OTR</label>
        </rules>
        <rules>
            <name>case_NAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_queue_0</targetReference>
            </connector>
            <label>case - NAF</label>
        </rules>
    </decisions>
    <decisions>
        <name>contract_null_check</name>
        <label>contract null check</label>
        <locationX>2891</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RUS_or_Contract_Values</targetReference>
            </connector>
            <label>contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>debug</name>
        <label>debug</label>
        <locationX>1317</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>process run</defaultConnectorLabel>
        <rules>
            <name>debug_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>debugCollectionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_collection_record</targetReference>
            </connector>
            <label>debug run</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopWhichCriteria</name>
        <label>LoopWhichCriteria</label>
        <locationX>1645</locationX>
        <locationY>2491</locationY>
        <defaultConnector>
            <targetReference>no_match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_OutsourcedLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Outsourced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopEarlyEscalationAssignment</targetReference>
            </connector>
            <label>OTR - OutsourcedLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_HVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopHVARAssignment</targetReference>
            </connector>
            <label>OTR - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_LateStageLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Late_Stage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopLateStageAssignment</targetReference>
            </connector>
            <label>OTR - LateStageLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_LVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopLVARAssignment</targetReference>
            </connector>
            <label>OTR - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_MVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopMVARAssignment</targetReference>
            </connector>
            <label>OTR - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_StrategicAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Strategic_Accounts </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopNationalAccountAssignment</targetReference>
            </connector>
            <label>OTR - StrategicAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_SelfcureLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Self_cure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopSelfcureAssignment</targetReference>
            </connector>
            <label>OTR - SelfcureLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_FollowUpLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Follow_Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopFollowUpAssignment</targetReference>
            </connector>
            <label>OTR - FollowUpLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_BankruptcyLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopBankruptcyAssignment</targetReference>
            </connector>
            <label>OTR - BankruptcyLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_SoldAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Sold_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSoldAccountsAssignment</targetReference>
            </connector>
            <label>OTR - SoldAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>DefaultLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDefaultAssignment</targetReference>
            </connector>
            <label>DefaultLoopAssignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopWhichCriteria_0</name>
        <label>LoopWhichCriteria</label>
        <locationX>642</locationX>
        <locationY>1803</locationY>
        <defaultConnector>
            <targetReference>no_match_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DefaultLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDefaultAssignment_0</targetReference>
            </connector>
            <label>DefaultLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_OutsourcedLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Outsourced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopOutsourcedAssignment</targetReference>
            </connector>
            <label>NAF - OutsourcedLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopHVARAssignment_0_0</targetReference>
            </connector>
            <label>NAF - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_LateStageLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Late_Stage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopLateStageAssignment_0</targetReference>
            </connector>
            <label>NAF - LateStageLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_SelfcureLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Self_cure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopSelfcureAssignment_0</targetReference>
            </connector>
            <label>NAF - SelfcureLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_StrategicAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Strategic_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopStrategicAccountsAssignment</targetReference>
            </connector>
            <label>NAF - StrategicAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopHVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_LVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopLVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_HVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopHVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_MVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopMVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Flex_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopHVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_FLEX_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Flex_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_SoldAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Sold_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopSoldAccountsAssignment</targetReference>
            </connector>
            <label>NAF - SoldAccountsLoopAssignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTR_or_NAF_and_Null_Check</name>
        <label>OTR or NAF and Null Check</label>
        <locationX>2069</locationX>
        <locationY>1404</locationY>
        <defaultConnector>
            <targetReference>no_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>OTR_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_Loop_Metadata</targetReference>
            </connector>
            <label>OTR &amp; account</label>
        </rules>
        <rules>
            <name>NAF_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Loop_Metadata</targetReference>
            </connector>
            <label>NAF &amp; account</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Collection_DPD</name>
        <label>RUS or Collection DPD</label>
        <locationX>3079</locationX>
        <locationY>3204</locationY>
        <defaultConnector>
            <targetReference>set_DPD_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS</defaultConnectorLabel>
        <rules>
            <name>Use_Collection_DPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_collection_record.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_case.DPD_OTR_High_Rollup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_DPD</targetReference>
            </connector>
            <label>use Collection DPD</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_DPD_Bucket</name>
        <label>RUS or Contract DPD Bucket</label>
        <locationX>3075</locationX>
        <locationY>3032</locationY>
        <defaultConnector>
            <targetReference>set_DPD_Bucket_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use RUS DPD Bucket</defaultConnectorLabel>
        <rules>
            <name>use_Contract_DPD_Bucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VAR_DPD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VAR_DPD_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_DPD_Bucket</targetReference>
            </connector>
            <label>use Contract DPD Bucket</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_Past_Due_Amount</name>
        <label>RUS or Contract Past Due Amount</label>
        <locationX>3073</locationX>
        <locationY>2877</locationY>
        <defaultConnector>
            <targetReference>set_past_due_amount_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS Past Due Amount</defaultConnectorLabel>
        <rules>
            <name>use_Contract_Past_Due_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.Past_Due_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.Past_Due_Amount_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_past_due_amount</targetReference>
            </connector>
            <label>use Contract Past Due Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_Values</name>
        <label>RUS or Contract VaR</label>
        <locationX>3071</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>set_var_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS VaR</defaultConnectorLabel>
        <rules>
            <name>use_Contract_VaR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VaR_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_var</targetReference>
            </connector>
            <label>use Contract VaR</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_VaR_Rate</name>
        <label>RUS or Contract VaR Rate</label>
        <locationX>3074</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>set_var_rate_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS VaR Rate</defaultConnectorLabel>
        <rules>
            <name>use_Contract_VaR_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VaR_Rate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VaR_Rate_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_var_rate</targetReference>
            </connector>
            <label>use Contract VaR Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_HVAR</name>
        <label>Which HVAR</label>
        <locationX>4292</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr_HVAR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToHVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_HVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToHVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_HVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToHVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_HVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collector_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KJACOBS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collector_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECSPCL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>84</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>85</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>86</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>88</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToHVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_LVAR</name>
        <label>Which LVAR</label>
        <locationX>4617</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr_LVAR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToLVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_LVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToLVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_LVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToLVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_LVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToLVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_MVAR</name>
        <label>Which MVAR</label>
        <locationX>3961</locationX>
        <locationY>1097</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToMVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_MVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToMVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_MVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToMVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_MVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToMVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_queue</name>
        <label>which queue</label>
        <locationX>3599</locationX>
        <locationY>4058</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_National_Account_Rule3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.National_Account_OTR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToStrategicAccountQueue</targetReference>
            </connector>
            <label>OTR - National Account (Rule 3)</label>
        </rules>
        <rules>
            <name>OTR_FollowUp</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Balance_Past_Due__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToFollowUpQueue</targetReference>
            </connector>
            <label>OTR - FollowUp</label>
        </rules>
        <rules>
            <name>Bankruptcy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToBankruptcyQueue</targetReference>
            </connector>
            <label>Bankruptcy</label>
        </rules>
        <rules>
            <name>OTR_Early_Escalation_Action_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early agency escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToOutsourcedQueue</targetReference>
            </connector>
            <label>OTR - Early Escalation Action Flag</label>
        </rules>
        <rules>
            <name>OTR_Late_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LateStageCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLateStageQueue</targetReference>
            </connector>
            <label>OTR - Late Stage (Rule 6)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 7)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 8)</label>
        </rules>
        <rules>
            <name>OTR_Self_cure</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>OTR - Self-cure (Rule 9)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_7</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 10)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_8</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 11)</label>
        </rules>
        <rules>
            <name>OTR_HVAR_Rule_9</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToHVARQueue</targetReference>
            </connector>
            <label>OTR - HVAR (Rule 12)</label>
        </rules>
        <rules>
            <name>OTR_Outsourced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.DPD_Bucket_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.VaR_Bad_Rate_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToOutsourcedQueue</targetReference>
            </connector>
            <label>OTR - Outsourced (Rule 13)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_14_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 14)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_19_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 19)</label>
        </rules>
        <rules>
            <name>OTR_HVAR_Rule_24_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToHVARQueue</targetReference>
            </connector>
            <label>OTR - HVAR (Rule 24)</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_queue_0</name>
        <label>which queue</label>
        <locationX>3596</locationX>
        <locationY>1323</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAF_SRS_Rule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.PFS_REP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToStrategicAccountsQueue</targetReference>
            </connector>
            <label>NAF - SRS (Rule 4)</label>
        </rules>
        <rules>
            <name>NAF_Early_Escalation_Action_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early agency escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - Early Escalation Action Flag</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_8</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 8)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_9</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 9)</label>
        </rules>
        <rules>
            <name>NAF_Late_Stage_Rule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LateStageCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToLateStageQueue</targetReference>
            </connector>
            <label>NAF - Late Stage (Rule 10</label>
        </rules>
        <rules>
            <name>NAF_Self_cure_Rule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>NAF - Self-cure (Rule 11)</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 12)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 13)</label>
        </rules>
        <rules>
            <name>NAF_HVAR_Rule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - HVAR (Rule 14)</label>
        </rules>
        <rules>
            <name>NAF_EarlyEscalation_Rule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - EarlyEscalation (Rule 15)</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 16)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 21)</label>
        </rules>
        <rules>
            <name>NAF_HVAR_Rule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - HVAR (Rule 24)</label>
        </rules>
    </decisions>
    <description>OTR and NAF Mckinsey Routing</description>
    <formulas>
        <name>collectionsDescriptorException</name>
        <dataType>Boolean</dataType>
        <expression>CASE({!collectionsRecord.Collections_Descriptor__c},
&quot;Bankruptcy&quot;, 1,
&quot;GGR&quot;, 1,
&quot;Early GGR&quot;, 1,
&quot;Sold 3rd Party Sale&quot;, 1,
&quot;Pending 3rd Party Sale&quot;, 1,
0) = 1</expression>
    </formulas>
    <formulas>
        <name>customerAge</name>
        <dataType>Number</dataType>
        <expression>/*checks first if the start / end dates are in the same year. If this is true, then the value should just be the month  month*/

if(year(TODAY())-year({!get_Account.Account_Since__c})=0,month(TODAY())-month({!get_Account.Account_Since__c}),

/*If this is not the case, are they at least 1 full calendar year apart? If this is the case, then do the big calc*/

if((year(TODAY())-(year({!get_Account.Account_Since__c})+1))&gt;=1,

/*Value if True*/

(

((year(TODAY()))-(year({!get_Account.Account_Since__c})+1))*12)+

((12-month({!get_Account.Account_Since__c}))+month(TODAY())),

/*If the years are not more than 1 apart, do this calc instead*/

(12-month({!get_Account.Account_Since__c}))+month(TODAY())))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Today + 1</description>
        <name>FollowUpQueueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <description>Determine LOB based on values in the Platform field on the account</description>
        <name>LOB</name>
        <dataType>String</dataType>
        <expression>CASE({!get_Account.Platform__c},
&quot;EDGE&quot;, &quot;OTR&quot;,
&quot;EFSLLC&quot;, &quot;OTR&quot;,
&quot;EFS LLC&quot;, &quot;OTR&quot;,
&quot;EFSTS&quot;, &quot;OTR&quot;,
&quot;FLEETONE&quot;, &quot;OTR&quot;,
&quot;IMPERIAL&quot;, &quot;OTR&quot;,
&quot;IRVING&quot;, &quot;OTR&quot;,
&quot;Millennium&quot;, &quot;NAF&quot;,
&quot;Other&quot;, &quot;N/A&quot;,
&quot;OTR&quot;, &quot;OTR&quot;,
&quot;PINNACLE&quot;, &quot;OTR&quot;,
&quot;Retail&quot;, &quot;N/A&quot;,
&quot;SFJ_SHELL&quot;, &quot;OTR&quot;,
&quot;SHELL_NAV&quot;, &quot;OTR&quot;,
&quot;SIEBEL&quot;, &quot;NAF&quot;,
&quot;TANDEM&quot;, &quot;NAF&quot;,
&quot;TChek&quot;, &quot;OTR&quot;,
&quot;TCHEK_MC&quot;, &quot;CP&quot;,
&quot;TChekMC&quot;, &quot;CP&quot;,
&quot;N/A&quot;
)</expression>
    </formulas>
    <interviewLabel>BR - Case - Collect Queue Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Collections Queue Assignment</label>
    <loops>
        <name>NAF_Loop_Metadata</name>
        <label>NAF - Loop Metadata</label>
        <locationX>1083</locationX>
        <locationY>1787</locationY>
        <assignNextValueToReference>CriteriaVariable</assignNextValueToReference>
        <collectionReference>get_CustomMetadata_routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopWhichCriteria_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OTR_Loop_Metadata</name>
        <label>OTR - Loop Metadata</label>
        <locationX>2085</locationX>
        <locationY>2475</locationY>
        <assignNextValueToReference>CriteriaVariable</assignNextValueToReference>
        <collectionReference>get_CustomMetadata_routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopWhichCriteria</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>1634</locationX>
        <locationY>1249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CustomMetadata_routing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>2347</locationX>
        <locationY>1797</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseNullCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_collection_record</name>
        <label>get collection record</label>
        <locationX>1326</locationX>
        <locationY>1261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_collection_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>debugCollectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collections__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contract</name>
        <label>get contract</label>
        <locationX>3084</locationX>
        <locationY>2428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contract_null_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CustomMetadata_routing</name>
        <label>get CustomMetadata routing</label>
        <locationX>1810</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OTR_or_NAF_and_Null_Check</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BR_Case_CollectAssignments__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>4994</locationX>
        <locationY>4073</locationY>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_0</name>
        <label>update case</label>
        <locationX>5441</locationX>
        <locationY>1143</locationY>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <start>
        <locationX>1326</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bankruptcyCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>collectionsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Collections__c</objectType>
    </variables>
    <variables>
        <name>CriteriaVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>debugCollectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_LateStageCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_OutsourcedCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_SelfcureCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_SoldAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_StrategicAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>noAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTR_FollowUpCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_LateStageCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_OutsourcedCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_SelfcureCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_SoldAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_StrategicAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>otrDaysPastDueHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>otrDPDBucketHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>otrPastDueAmountHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>otrVaRHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>otrVaRRateHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
</Flow>
