src/flows/Case_Queue_Mapping.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Mapping_found</name>
        <label>Mapping found?</label>
        <locationX>366</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDept</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_s_Department</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Case Queue Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Queue Mapping</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_the_Custom_MetaData_type</name>
        <label>Lookup the Custom MetaData type</label>
        <locationX>364</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_found</targetReference>
        </connector>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDept</elementReference>
            </value>
        </filters>
        <object>Queue_To_Department_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>varQueueId</assignToReference>
            <field>Queue_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_s_Department</name>
        <label>Update Case&apos;s Department</label>
        <locationX>361</locationX>
        <locationY>376</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Lookup_the_Custom_MetaData_type</startElementReference>
    <status>Active</status>
    <variables>
        <name>loopVarDept</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDept</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
