src/flows/Case_Collections_Queue_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_of_Queue_Assignment</name>
        <label>Email Alert of Queue Assignment</label>
        <locationX>5041</locationX>
        <locationY>3667</locationY>
        <actionName>Case.Collections_Case_assigned_to_Bankruptcy_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OTR_who_was_previous_owner</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_of_Queue_Assignment_0</name>
        <label>Email Alert of Queue Assignment</label>
        <locationX>5765</locationX>
        <locationY>1037</locationY>
        <actionName>Case.Collections_Case_assigned_to_Bankruptcy_Queue</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>who_was_previous_owner</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignToBankruptcyQueue</name>
        <label>AssignToBankruptcyQueue</label>
        <locationX>3802</locationX>
        <locationY>3476</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bankruptcyCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToDefaultQueue</name>
        <label>AssignToDefaultQueue</label>
        <locationX>3696</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultVariable.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToDefaultQueue_0</name>
        <label>AssignToDefaultQueue</label>
        <locationX>5226</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultVariable.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToFollowUpQueue</name>
        <label>AssignToFollowUpQueue</label>
        <locationX>3903</locationX>
        <locationY>3517</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_FollowUpCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpQueueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>6129</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>get_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Case_0</name>
        <label>Close Case</label>
        <locationX>5411</locationX>
        <locationY>3619</locationY>
        <assignmentItems>
            <assignToReference>get_case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing</name>
        <label>line routing</label>
        <locationX>5580</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0</name>
        <label>line routing</label>
        <locationX>4759</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_MVAR_Dialer_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0</name>
        <label>line routing</label>
        <locationX>5334</locationX>
        <locationY>1736</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0</name>
        <label>line routing</label>
        <locationX>5130</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3010</locationX>
        <locationY>919</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>no_action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3703</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_LVAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3906</locationX>
        <locationY>766</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_HVAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3861</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>3886</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_AssignToOutsourcedQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>line_routing_0_0_0_0_0_0_0_0_0</name>
        <label>line routing</label>
        <locationX>5254</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hi</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_LVAR_Dialer_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopDefaultAssignment</name>
        <label>LoopDefaultAssignment</label>
        <locationX>1519</locationX>
        <locationY>2554</locationY>
        <assignmentItems>
            <assignToReference>DefaultVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopDefaultAssignment_0</name>
        <label>LoopDefaultAssignment</label>
        <locationX>516</locationX>
        <locationY>1866</locationY>
        <assignmentItems>
            <assignToReference>DefaultVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopFollowUpAssignment</name>
        <label>LoopFollowUpAssignment</label>
        <locationX>2064</locationX>
        <locationY>3448</locationY>
        <assignmentItems>
            <assignToReference>OTR_FollowUpCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopSoldAccountsAssignment</name>
        <label>LoopSoldAccountsAssignment</label>
        <locationX>2232</locationX>
        <locationY>3439</locationY>
        <assignmentItems>
            <assignToReference>OTR_SoldAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToBankruptcyQueue</name>
        <label>NAF - AssignToBankruptcyQueue</label>
        <locationX>4647</locationX>
        <locationY>1543</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bankruptcyCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToHVARQueue</name>
        <label>NAF - AssignToHVARQueue</label>
        <locationX>4592</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToLateStageQueue</name>
        <label>NAF - AssignToLateStageQueue</label>
        <locationX>4522</locationX>
        <locationY>1604</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_LateStageCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToLVARQueue</name>
        <label>NAF - AssignToLVARQueue</label>
        <locationX>5034</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToMVARQueue</name>
        <label>NAF - AssignToMVARQueue</label>
        <locationX>4390</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToOutsourcedQueue</name>
        <label>NAF - AssignToOutsourcedQueue</label>
        <locationX>4398</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_OutsourcedCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToSelfcureQueue</name>
        <label>NAF - AssignToSelfcureQueue</label>
        <locationX>4406</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_SelfcureCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_AssignToStrategicAccountsQueue</name>
        <label>NAF - AssignToStrategicAccountsQueue</label>
        <locationX>4293</locationX>
        <locationY>1744</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_StrategicAccountsCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToHVARQueue</name>
        <label>NAF Canada - AssignToHVARQueue</label>
        <locationX>4713</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToLVARQueue</name>
        <label>NAF Canada - AssignToLVARQueue</label>
        <locationX>4922</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_AssignToMVARQueue</name>
        <label>NAF Canada - AssignToMVARQueue</label>
        <locationX>4266</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToHVARQueue</name>
        <label>NAF Canada Fr - AssignToHVARQueue</label>
        <locationX>4713</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToLVARQueue</name>
        <label>NAF Canada Fr - AssignToLVARQueue</label>
        <locationX>5036</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_AssignToMVARQueue</name>
        <label>NAF Canada Fr - AssignToMVARQueue</label>
        <locationX>4387</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Canada_Fr_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopHVARAssignment</name>
        <label>NAF Canada Fr - LoopHVARAssignment</label>
        <locationX>154</locationX>
        <locationY>3152</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopLVARAssignment</name>
        <label>NAF Canada Fr - LoopLVARAssignment</label>
        <locationX>390</locationX>
        <locationY>3149</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_Fr_LoopMVARAssignment</name>
        <label>NAF Canada Fr - LoopMVARAssignment</label>
        <locationX>264</locationX>
        <locationY>3150</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_Fr_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopHVARAssignment_0</name>
        <label>NAF Canada - LoopHVARAssignment</label>
        <locationX>588</locationX>
        <locationY>3154</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopLVARAssignment_0</name>
        <label>NAF Canada - LoopLVARAssignment</label>
        <locationX>804</locationX>
        <locationY>3159</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Canada_LoopMVARAssignment_0</name>
        <label>NAF Canada - LoopMVARAssignment</label>
        <locationX>695</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>NAF_Canada_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToHVARQueue</name>
        <label>NAF Flex - AssignToHVARQueue</label>
        <locationX>4593</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToLVARQueue</name>
        <label>NAF Flex - AssignToLVARQueue</label>
        <locationX>4922</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_AssignToMVARQueue</name>
        <label>NAF Flex - AssignToMVARQueue</label>
        <locationX>4268</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAF_Flex_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>line_routing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopHVARAssignment_0</name>
        <label>NAF Flex - LoopHVARAssignment</label>
        <locationX>192</locationX>
        <locationY>3423</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopLVARAssignment_0</name>
        <label>NAF Flex - LoopLVARAssignment</label>
        <locationX>470</locationX>
        <locationY>3405</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Flex_LoopMVARAssignment_0</name>
        <label>NAF Flex - LoopMVARAssignment</label>
        <locationX>319</locationX>
        <locationY>3424</locationY>
        <assignmentItems>
            <assignToReference>NAF_Flex_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopBankruptcyAssignment</name>
        <label>NAF - LoopBankruptcyAssignment</label>
        <locationX>50</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>bankruptcyCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopHVARAssignment_0_0</name>
        <label>NAF - LoopHVARAssignment</label>
        <locationX>969</locationX>
        <locationY>3160</locationY>
        <assignmentItems>
            <assignToReference>NAF_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopLateStageAssignment_0</name>
        <label>NAF - LoopLateStageAssignment</label>
        <locationX>753</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>NAF_LateStageCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopLVARAssignment_0</name>
        <label>NAF - LoopLVARAssignment</label>
        <locationX>1196</locationX>
        <locationY>3166</locationY>
        <assignmentItems>
            <assignToReference>NAF_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopMVARAssignment_0</name>
        <label>NAF - LoopMVARAssignment</label>
        <locationX>1079</locationX>
        <locationY>3165</locationY>
        <assignmentItems>
            <assignToReference>NAF_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopOutsourcedAssignment</name>
        <label>NAF - LoopOutsourcedAssignment</label>
        <locationX>631</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>NAF_OutsourcedCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopSelfcureAssignment_0</name>
        <label>NAF - LoopSelfcureAssignment</label>
        <locationX>900</locationX>
        <locationY>3438</locationY>
        <assignmentItems>
            <assignToReference>NAF_SelfcureCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopSoldAccountsAssignment</name>
        <label>NAF - LoopSoldAccountsAssignment</label>
        <locationX>1142</locationX>
        <locationY>3439</locationY>
        <assignmentItems>
            <assignToReference>NAF_SoldAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_LoopStrategicAccountsAssignment</name>
        <label>NAF - LoopStrategicAccountsAssignment</label>
        <locationX>1019</locationX>
        <locationY>3437</locationY>
        <assignmentItems>
            <assignToReference>NAF_StrategicAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NAF_Set_Dialer_Status_REMOVE</name>
        <label>NAF - Set Dialer Status REMOVE</label>
        <locationX>5337</locationX>
        <locationY>1221</locationY>
        <assignmentItems>
            <assignToReference>get_case.Dialer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>who_was_previous_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_action</name>
        <label>no action</label>
        <locationX>2728</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>no_match</name>
        <label>no match</label>
        <locationX>1517</locationX>
        <locationY>2355</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>no_match_0</name>
        <label>no match</label>
        <locationX>514</locationX>
        <locationY>1667</locationY>
        <assignmentItems>
            <assignToReference>noAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAF_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToHVARQueue</name>
        <label>OTR - AssignToHVARQueue</label>
        <locationX>3987</locationX>
        <locationY>4255</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToLateStageQueue</name>
        <label>OTR - AssignToLateStageQueue</label>
        <locationX>4104</locationX>
        <locationY>3606</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_LateStageCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToLVARQueue</name>
        <label>OTR - AssignToLVARQueue</label>
        <locationX>3713</locationX>
        <locationY>4444</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_LVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_LVAR_Dialer_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToMVARQueue</name>
        <label>OTR - AssignToMVARQueue</label>
        <locationX>3826</locationX>
        <locationY>4347</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_MVARCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_MVAR_Dialer_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToOutsourcedQueue</name>
        <label>OTR - AssignToOutsourcedQueue</label>
        <locationX>4135</locationX>
        <locationY>4167</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_OutsourcedCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToSelfcureQueue</name>
        <label>OTR - AssignToSelfcureQueue</label>
        <locationX>4311</locationX>
        <locationY>4108</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_SelfcureCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToSoldAccountsQueue</name>
        <label>OTR - AssignToSoldAccountsQueue</label>
        <locationX>4001</locationX>
        <locationY>3563</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_SoldAccountsCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_AssignToStrategicAccountQueue</name>
        <label>OTR - AssignToStrategicAccountQueue</label>
        <locationX>3606</locationX>
        <locationY>3393</locationY>
        <assignmentItems>
            <assignToReference>newOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTR_StrategicAccountsCriteria.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Queue_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopBankruptcyAssignment</name>
        <label>OTR - LoopBankruptcyAssignment</label>
        <locationX>2150</locationX>
        <locationY>3316</locationY>
        <assignmentItems>
            <assignToReference>bankruptcyCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopEarlyEscalationAssignment</name>
        <label>OTR - LoopEarlyEscalationAssignment</label>
        <locationX>1454</locationX>
        <locationY>3460</locationY>
        <assignmentItems>
            <assignToReference>OTR_OutsourcedCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopFleetOneLVAR</name>
        <label>OTR - LoopFleetOneLVAR</label>
        <locationX>1994</locationX>
        <locationY>3321</locationY>
        <assignmentItems>
            <assignToReference>OTR_FleetOne_LVAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopHVARAssignment</name>
        <label>OTR - LoopHVARAssignment</label>
        <locationX>1404</locationX>
        <locationY>3296</locationY>
        <assignmentItems>
            <assignToReference>OTR_HVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopLateStageAssignment</name>
        <label>OTR - LoopLateStageAssignment</label>
        <locationX>1556</locationX>
        <locationY>3467</locationY>
        <assignmentItems>
            <assignToReference>OTR_LateStageCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopLVARAssignment</name>
        <label>OTR - LoopLVARAssignment</label>
        <locationX>1610</locationX>
        <locationY>3300</locationY>
        <assignmentItems>
            <assignToReference>OTR_LVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopMVARAssignment</name>
        <label>OTR - LoopMVARAssignment</label>
        <locationX>1509</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>OTR_MVARCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopNationalAccountAssignment</name>
        <label>OTR - LoopNationalAccountAssignment</label>
        <locationX>1698</locationX>
        <locationY>3303</locationY>
        <assignmentItems>
            <assignToReference>OTR_StrategicAccountsCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_LoopSelfcureAssignment</name>
        <label>OTR - LoopSelfcureAssignment</label>
        <locationX>1657</locationX>
        <locationY>3466</locationY>
        <assignmentItems>
            <assignToReference>OTR_SelfcureCriteria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriteriaVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_set_case_owner_fleetone_FU_date</name>
        <label>OTR - set case owner &amp; fleetone FU date</label>
        <locationX>5551</locationX>
        <locationY>3973</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpDate_OTR_FleetOne</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_set_case_owner_fleetone_FU_date_0</name>
        <label>OTR - set case owner &amp; fleetone FU date</label>
        <locationX>5446</locationX>
        <locationY>4152</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpDate_OTR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_set_case_owner_same_day_FU</name>
        <label>OTR - set case owner &amp; same day FU</label>
        <locationX>5557</locationX>
        <locationY>3808</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpDate_Today4pmGMT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OTR_Set_Dialer_Status_REMOVE</name>
        <label>OTR - Set Dialer Status REMOVE</label>
        <locationX>5081</locationX>
        <locationY>4458</locationY>
        <assignmentItems>
            <assignToReference>get_case.Dialer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTR_who_was_previous_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_case_owner_future_FU_date</name>
        <label>set case owner &amp; future FU date</label>
        <locationX>6130</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpDate_NAF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_case_owner_same_day_FU</name>
        <label>set case owner &amp; same day FU</label>
        <locationX>6136</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>get_case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_case.Follow_Up_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FollowUpDate_Today4pmGMT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_collection_record</name>
        <label>set collection record</label>
        <locationX>1431</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>collectionsRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_collection_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_DPD_Bucket_with_RUS</name>
        <label>set DPD Bucket with RUS</label>
        <locationX>3377</locationX>
        <locationY>3137</locationY>
        <assignmentItems>
            <assignToReference>otrDPDBucketHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VAR_DPD_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collection_DPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_DPD_with_RUS</name>
        <label>set DPD with RUS</label>
        <locationX>3192</locationX>
        <locationY>3459</locationY>
        <assignmentItems>
            <assignToReference>otrDaysPastDueHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.DPD_OTR_High_Rollup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>which_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_DPD</name>
        <label>set high DPD</label>
        <locationX>3009</locationX>
        <locationY>3315</locationY>
        <assignmentItems>
            <assignToReference>otrDaysPastDueHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_collection_record.Days_Past_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>which_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_DPD_Bucket</name>
        <label>set high DPD Bucket</label>
        <locationX>3003</locationX>
        <locationY>3135</locationY>
        <assignmentItems>
            <assignToReference>otrDPDBucketHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VAR_DPD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collection_DPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_past_due_amount</name>
        <label>set high past due amount</label>
        <locationX>3005</locationX>
        <locationY>2979</locationY>
        <assignmentItems>
            <assignToReference>otrPastDueAmountHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionsRecord.Past_Due_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_DPD_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_var</name>
        <label>set high var</label>
        <locationX>2999</locationX>
        <locationY>2641</locationY>
        <assignmentItems>
            <assignToReference>otrVaRHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VAR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_VaR_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_high_var_rate</name>
        <label>set high var rate</label>
        <locationX>2996</locationX>
        <locationY>2829</locationY>
        <assignmentItems>
            <assignToReference>otrVaRRateHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract.VaR_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collections_Past_Due_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_past_due_amount_with_RUS</name>
        <label>set past due amount with RUS</label>
        <locationX>3379</locationX>
        <locationY>2982</locationY>
        <assignmentItems>
            <assignToReference>otrPastDueAmountHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_case.Past_Due_Roll_Up_MAX__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_DPD_Bucket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_var_rate_with_RUS</name>
        <label>set var rate with RUS</label>
        <locationX>3383</locationX>
        <locationY>2832</locationY>
        <assignmentItems>
            <assignToReference>otrVaRRateHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VaR_Rate_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Collections_Past_Due_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_var_with_RUS</name>
        <label>set var with RUS</label>
        <locationX>3371</locationX>
        <locationY>2644</locationY>
        <assignmentItems>
            <assignToReference>otrVaRHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.VaR_OTR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RUS_or_Contract_VaR_Rate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>caseNullCheck</name>
        <label>caseNullCheck</label>
        <locationX>3180</locationX>
        <locationY>2131</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>case_OTR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contract</targetReference>
            </connector>
            <label>case - OTR</label>
        </rules>
        <rules>
            <name>case_NAF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>which_queue_0</targetReference>
            </connector>
            <label>case - NAF</label>
        </rules>
    </decisions>
    <decisions>
        <name>contract_null_check</name>
        <label>contract null check</label>
        <locationX>2995</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RUS_or_Contract_Values</targetReference>
            </connector>
            <label>contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>debug</name>
        <label>debug</label>
        <locationX>1421</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>process run</defaultConnectorLabel>
        <rules>
            <name>debug_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>debugCollectionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_collection_record</targetReference>
            </connector>
            <label>debug run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Queue_Change</name>
        <label>Did Queue Change?</label>
        <locationX>4873</locationX>
        <locationY>3942</locationY>
        <defaultConnector>
            <targetReference>OTR_who_was_previous_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Changed</defaultConnectorLabel>
        <rules>
            <name>No_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newOwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>No Change</label>
        </rules>
        <rules>
            <name>Changed_to_Bankruptcy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newOwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>bankruptcyCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_of_Queue_Assignment</targetReference>
            </connector>
            <label>Changed to Bankruptcy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Queue_Change_0</name>
        <label>Did Queue Change?</label>
        <locationX>5572</locationX>
        <locationY>1146</locationY>
        <defaultConnector>
            <targetReference>who_was_previous_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner Changed</defaultConnectorLabel>
        <rules>
            <name>No_Change_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>newOwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>No Change</label>
        </rules>
        <rules>
            <name>Changed_to_Bankruptcy_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>newOwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>bankruptcyCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_of_Queue_Assignment_0</targetReference>
            </connector>
            <label>Changed to Bankruptcy</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopWhichCriteria</name>
        <label>LoopWhichCriteria</label>
        <locationX>1749</locationX>
        <locationY>2491</locationY>
        <defaultConnector>
            <targetReference>no_match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_BankruptcyLoopAssignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopBankruptcyAssignment</targetReference>
            </connector>
            <label>OTR - BankruptcyLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_OutsourcedLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Outsourced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopEarlyEscalationAssignment</targetReference>
            </connector>
            <label>OTR - OutsourcedLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_HVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopHVARAssignment</targetReference>
            </connector>
            <label>OTR - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_LateStageLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Late_Stage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopLateStageAssignment</targetReference>
            </connector>
            <label>OTR - LateStageLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_LVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopLVARAssignment</targetReference>
            </connector>
            <label>OTR - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_MVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopMVARAssignment</targetReference>
            </connector>
            <label>OTR - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_StrategicAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Strategic_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopNationalAccountAssignment</targetReference>
            </connector>
            <label>OTR - StrategicAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_SelfcureLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Self_cure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopSelfcureAssignment</targetReference>
            </connector>
            <label>OTR - SelfcureLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_FollowUpLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Follow_Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopFollowUpAssignment</targetReference>
            </connector>
            <label>OTR - FollowUpLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_SoldAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR_Sold_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSoldAccountsAssignment</targetReference>
            </connector>
            <label>OTR - SoldAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>DefaultLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDefaultAssignment</targetReference>
            </connector>
            <label>DefaultLoopAssignment</label>
        </rules>
        <rules>
            <name>OTR_FleetOneLVAR_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FLEETONE_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_LoopFleetOneLVAR</targetReference>
            </connector>
            <label>OTR - FleetOneLVAR - Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>LoopWhichCriteria_0</name>
        <label>LoopWhichCriteria</label>
        <locationX>746</locationX>
        <locationY>1803</locationY>
        <defaultConnector>
            <targetReference>no_match_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DefaultLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDefaultAssignment_0</targetReference>
            </connector>
            <label>DefaultLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_BankruptcyLoopAssignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attorney Retained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopBankruptcyAssignment</targetReference>
            </connector>
            <label>NAF - BankruptcyLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_OutsourcedLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Outsourced</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopOutsourcedAssignment</targetReference>
            </connector>
            <label>NAF - OutsourcedLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopHVARAssignment_0_0</targetReference>
            </connector>
            <label>NAF - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_LateStageLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Late_Stage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopLateStageAssignment_0</targetReference>
            </connector>
            <label>NAF - LateStageLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_SelfcureLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Self_cure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopSelfcureAssignment_0</targetReference>
            </connector>
            <label>NAF - SelfcureLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_StrategicAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Strategic_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopStrategicAccountsAssignment</targetReference>
            </connector>
            <label>NAF - StrategicAccountsLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopHVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF Canada - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_LVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopLVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_HVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopHVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Canada_Fr_MVARLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Canada_Fr_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_LoopMVARAssignment</targetReference>
            </connector>
            <label>NAF Canada Fr - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_HVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Flex_HVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopHVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - HVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_LVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_FLEX_LVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopLVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - LVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_Flex_MVARLoopAssignment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Flex_MVAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_LoopMVARAssignment_0</targetReference>
            </connector>
            <label>NAF Flex - MVARLoopAssignment</label>
        </rules>
        <rules>
            <name>NAF_SoldAccountsLoopAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CriteriaVariable.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF_Sold_Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_LoopSoldAccountsAssignment</targetReference>
            </connector>
            <label>NAF - SoldAccountsLoopAssignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAF_LVAR_Dialer_Status</name>
        <label>NAF LVAR Dialer Status</label>
        <locationX>5246</locationX>
        <locationY>666</locationY>
        <defaultConnector>
            <targetReference>Did_Queue_Change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAF_LVAR_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Small_Balance_Dialer_Bypass__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successfully Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Set_Dialer_Status_REMOVE</targetReference>
            </connector>
            <label>NAF - LVAR - Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>NAF_MVAR_Dialer_Status</name>
        <label>NAF MVAR Dialer Status</label>
        <locationX>4967</locationX>
        <locationY>1153</locationY>
        <defaultConnector>
            <targetReference>Did_Queue_Change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAF_MVAR_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Small_Balance_Dialer_Bypass__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successfully Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Set_Dialer_Status_REMOVE</targetReference>
            </connector>
            <label>NAF - MVAR - Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTR_LVAR_Dialer_Status</name>
        <label>OTR - LVAR - Dialer Status</label>
        <locationX>4773</locationX>
        <locationY>4512</locationY>
        <defaultConnector>
            <targetReference>Did_Queue_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_LVAR_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Small_Balance_Dialer_Bypass__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successfully Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_Set_Dialer_Status_REMOVE</targetReference>
            </connector>
            <label>OTR - LVAR - Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTR_MVAR_Dialer_Status</name>
        <label>OTR - MVAR - Dialer Status</label>
        <locationX>4713</locationX>
        <locationY>4388</locationY>
        <defaultConnector>
            <targetReference>Did_Queue_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_MVAR_Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Small_Balance_Dialer_Bypass__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Dialer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Successfully Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_Set_Dialer_Status_REMOVE</targetReference>
            </connector>
            <label>OTR - MVAR - Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTR_or_NAF_and_Null_Check</name>
        <label>OTR or NAF and Null Check</label>
        <locationX>2173</locationX>
        <locationY>1404</locationY>
        <defaultConnector>
            <targetReference>no_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>OTR_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OTR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_Loop_Metadata</targetReference>
            </connector>
            <label>OTR &amp; account</label>
        </rules>
        <rules>
            <name>NAF_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Loop_Metadata</targetReference>
            </connector>
            <label>NAF &amp; account</label>
        </rules>
    </decisions>
    <decisions>
        <name>OTR_who_was_previous_owner</name>
        <label>OTR who was previous owner</label>
        <locationX>5285</locationX>
        <locationY>3888</locationY>
        <defaultConnector>
            <targetReference>OTR_set_case_owner_fleetone_FU_date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>owned by user</defaultConnectorLabel>
        <rules>
            <name>otr_owned_by_queue_or_HVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newOwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_set_case_owner_same_day_FU</targetReference>
            </connector>
            <label>otr - owned by queue or HVAR</label>
        </rules>
        <rules>
            <name>fleetone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.Platform__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_set_case_owner_fleetone_FU_date</targetReference>
            </connector>
            <label>fleetone</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Collection_DPD</name>
        <label>RUS or Collection DPD</label>
        <locationX>3183</locationX>
        <locationY>3204</locationY>
        <defaultConnector>
            <targetReference>set_DPD_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS</defaultConnectorLabel>
        <rules>
            <name>Use_Collection_DPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_collection_record.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_case.DPD_OTR_High_Rollup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_DPD</targetReference>
            </connector>
            <label>use Collection DPD</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Collections_Past_Due_Amount</name>
        <label>RUS or Collections Past Due Amount</label>
        <locationX>3177</locationX>
        <locationY>2877</locationY>
        <defaultConnector>
            <targetReference>set_past_due_amount_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS Past Due Amount</defaultConnectorLabel>
        <rules>
            <name>use_Collections_Past_Due_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_case.Past_Due_Roll_Up_MAX__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_past_due_amount</targetReference>
            </connector>
            <label>use Collections Past Due Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_DPD_Bucket</name>
        <label>RUS or Contract DPD Bucket</label>
        <locationX>3179</locationX>
        <locationY>3032</locationY>
        <defaultConnector>
            <targetReference>set_DPD_Bucket_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use RUS DPD Bucket</defaultConnectorLabel>
        <rules>
            <name>use_Contract_DPD_Bucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VAR_DPD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VAR_DPD_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_DPD_Bucket</targetReference>
            </connector>
            <label>use Contract DPD Bucket</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_Values</name>
        <label>RUS or Contract VaR</label>
        <locationX>3175</locationX>
        <locationY>2588</locationY>
        <defaultConnector>
            <targetReference>set_var_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS VaR</defaultConnectorLabel>
        <rules>
            <name>use_Contract_VaR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VaR_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_var</targetReference>
            </connector>
            <label>use Contract VaR</label>
        </rules>
    </decisions>
    <decisions>
        <name>RUS_or_Contract_VaR_Rate</name>
        <label>RUS or Contract VaR Rate</label>
        <locationX>3178</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>set_var_rate_with_RUS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>use RUS VaR Rate</defaultConnectorLabel>
        <rules>
            <name>use_Contract_VaR_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contract.VaR_Rate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>get_Account.VaR_Rate_OTR__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_high_var_rate</targetReference>
            </connector>
            <label>use Contract VaR Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_HVAR</name>
        <label>Which HVAR</label>
        <locationX>4396</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr_HVAR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToHVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_HVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToHVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_HVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToHVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_HVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collector_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KJACOBS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collector_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RECSPCL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>84</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>85</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>86</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LJ	RESUMPTION PROGRAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>88</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToHVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_LVAR</name>
        <label>Which LVAR</label>
        <locationX>4721</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr_LVAR</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToLVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_LVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToLVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_LVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToLVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_LVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToLVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_MVAR</name>
        <label>Which MVAR</label>
        <locationX>4065</locationX>
        <locationY>1097</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canada_Fr</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Language_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CFR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_Fr_AssignToMVARQueue</targetReference>
            </connector>
            <label>Canada Fr</label>
        </rules>
        <rules>
            <name>Canada_MVAR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WXC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IOL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Canada_AssignToMVARQueue</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Flex_MVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_Flex_AssignToMVARQueue</targetReference>
            </connector>
            <label>Flex</label>
        </rules>
        <rules>
            <name>NA_MVAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Set_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToMVARQueue</targetReference>
            </connector>
            <label>NA</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_queue</name>
        <label>which queue</label>
        <locationX>3705</locationX>
        <locationY>4057</locationY>
        <defaultConnector>
            <targetReference>AssignToDefaultQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OTR_Control_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.McK_Control_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>OTR Control Group - KEEP FIRST</label>
        </rules>
        <rules>
            <name>OTR_National_Account_Rule3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.National_Account_OTR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToStrategicAccountQueue</targetReference>
            </connector>
            <label>OTR - National Account (Rule 3)</label>
        </rules>
        <rules>
            <name>OTR_Auto_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Payment_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto ACH/PAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Auto_Pay_Self_Cure_DPD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>OTR - Auto Pay</label>
        </rules>
        <rules>
            <name>OTR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caine &amp; Weiner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early GGR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Euler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GGR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>82</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>92</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToOutsourcedQueue</targetReference>
            </connector>
            <label>OTR - Descriptors Outsourced</label>
        </rules>
        <rules>
            <name>OTR_Collections_Descriptor_is_Bankruptcy</name>
            <conditionLogic>1 AND (2 or 3 or 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy(unbilled)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_0</targetReference>
            </connector>
            <label>OTR - Collections Descriptor is Bankruptcy</label>
        </rules>
        <rules>
            <name>OTR_Action_Flag_is_Bankruptcy_or_Attorney_Retained</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attorney Retained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToBankruptcyQueue</targetReference>
            </connector>
            <label>OTR - Action Flag is Bankruptcy or Attorney Retained</label>
        </rules>
        <rules>
            <name>OTR_Sold_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending 3rd Party Sale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold 3rd Party Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToSoldAccountsQueue</targetReference>
            </connector>
            <label>OTR - Sold Accounts</label>
        </rules>
        <rules>
            <name>OTR_HVAR_by_Action_Flag_CDRC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crdt Hold Returned Pmt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToHVARQueue</targetReference>
            </connector>
            <label>OTR - HVAR by Action Flag / CDRC</label>
        </rules>
        <rules>
            <name>OTR_FollowUp</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Termination request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.Balance_Past_Due__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToFollowUpQueue</targetReference>
            </connector>
            <label>OTR - FollowUp</label>
        </rules>
        <rules>
            <name>OTR_Early_Escalation_Action_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early agency escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToOutsourcedQueue</targetReference>
            </connector>
            <label>OTR - Early Escalation Action Flag</label>
        </rules>
        <rules>
            <name>OTR_Late_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LateStageCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLateStageQueue</targetReference>
            </connector>
            <label>OTR - Late Stage (Rule 6)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 7)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 8)</label>
        </rules>
        <rules>
            <name>OTR_Self_cure</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>OTR - Self-cure (Rule 9)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_7</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 10)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_8</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Queue_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_MVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 11)</label>
        </rules>
        <rules>
            <name>OTR_HVAR_Rule_9</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrDaysPastDueHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToHVARQueue</targetReference>
            </connector>
            <label>OTR - HVAR (Rule 12)</label>
        </rules>
        <rules>
            <name>OTR_Outsourced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrDPDBucketHighValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.DPD_Bucket_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrPastDueAmountHighValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRRateHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_OutsourcedCriteria.VaR_Bad_Rate_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToOutsourcedQueue</targetReference>
            </connector>
            <label>OTR - Outsourced (Rule 13)</label>
        </rules>
        <rules>
            <name>OTR_LVAR_Rule_14_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToLVARQueue</targetReference>
            </connector>
            <label>OTR - LVAR (Rule 14)</label>
        </rules>
        <rules>
            <name>OTR_MVAR_Rule_19_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToMVARQueue</targetReference>
            </connector>
            <label>OTR - MVAR (Rule 19)</label>
        </rules>
        <rules>
            <name>OTR_HVAR_Rule_24_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otrVaRHighValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OTR_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTR_AssignToHVARQueue</targetReference>
            </connector>
            <label>OTR - HVAR (Rule 24)</label>
        </rules>
    </decisions>
    <decisions>
        <name>which_queue_0</name>
        <label>which queue</label>
        <locationX>3702</locationX>
        <locationY>1316</locationY>
        <defaultConnector>
            <targetReference>line_routing_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAF_Control_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.McK_Control_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>NAF - Control Group - KEEP FIRST</label>
        </rules>
        <rules>
            <name>NAF_Bankruptcy_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>80</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>NAF - Bankruptcy Closed</label>
        </rules>
        <rules>
            <name>NAF_Assign_to_Bankruptcy_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attorney Retained</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bankruptcy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToBankruptcyQueue</targetReference>
            </connector>
            <label>NAF - Assign to Bankruptcy Queue</label>
        </rules>
        <rules>
            <name>NAF_SRS_Rule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.PFS_Rep_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToStrategicAccountsQueue</targetReference>
            </connector>
            <label>NAF - SRS (Rule 4)</label>
        </rules>
        <rules>
            <name>NAF_Early_Escalation_Action_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Action_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early agency escalation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - Early Escalation Action Flag</label>
        </rules>
        <rules>
            <name>NAF_Outsourced_Recourse_Code</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Statement_Cycle__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>99</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>82</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>83</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>8E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>8S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>LB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>94</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>9F</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>9G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>9O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>9S</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>B0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>B7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>G7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>92</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>99</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - Outsourced Recourse Code</label>
        </rules>
        <rules>
            <name>NAF_Late_Stage_Recourse_Code</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionsRecord.Collections_Descriptor_Recourse_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>88</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToLateStageQueue</targetReference>
            </connector>
            <label>NAF - Late Stage Recourse Code</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_8</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 8)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_9</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.Account_Since__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 9)</label>
        </rules>
        <rules>
            <name>NAF_Late_Stage_Rule_10</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LateStageCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToLateStageQueue</targetReference>
            </connector>
            <label>NAF - Late Stage (Rule 10</label>
        </rules>
        <rules>
            <name>NAF_Self_cure_Rule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_SelfcureCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAF_AssignToSelfcureQueue</targetReference>
            </connector>
            <label>NAF - Self-cure (Rule 11)</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 12)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_MVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 13)</label>
        </rules>
        <rules>
            <name>NAF_HVAR_Rule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Days_Past_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Days_Past_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.Balance_Past_Due_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - HVAR (Rule 14)</label>
        </rules>
        <rules>
            <name>NAF_EarlyEscalation_Rule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerAge</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.Customer_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_Rate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.VaR_Bad_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR_DPD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.DPD_Bucket__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionsRecord.Past_Due_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NAF_OutsourcedCriteria.Balance_Past_Due_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - EarlyEscalation (Rule 15)</label>
        </rules>
        <rules>
            <name>NAF_LVAR_Rule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - LVAR (Rule 16)</label>
        </rules>
        <rules>
            <name>NAF_MVAR_Rule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_LVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_MVAR</targetReference>
            </connector>
            <label>NAF - MVAR (Rule 21)</label>
        </rules>
        <rules>
            <name>NAF_HVAR_Rule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account.VAR__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NAF_HVARCriteria.VaR_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>line_routing_0_0_0_0_0_0</targetReference>
            </connector>
            <label>NAF - HVAR (Rule 24)</label>
        </rules>
    </decisions>
    <decisions>
        <name>who_was_previous_owner</name>
        <label>who was previous owner</label>
        <locationX>5911</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>set_case_owner_future_FU_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>from a user</defaultConnectorLabel>
        <rules>
            <name>from_another_queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_case_owner_same_day_FU</targetReference>
            </connector>
            <label>from another queue</label>
        </rules>
    </decisions>
    <description>OTR and NAF Mckinsey Routing</description>
    <formulas>
        <name>customerAge</name>
        <dataType>Number</dataType>
        <expression>/*checks first if the start / end dates are in the same year. If this is true, then the value should just be the month  month*/

if(year(TODAY())-year({!get_Account.Account_Since__c})=0,month(TODAY())-month({!get_Account.Account_Since__c}),

/*If this is not the case, are they at least 1 full calendar year apart? If this is the case, then do the big calc*/

if((year(TODAY())-(year({!get_Account.Account_Since__c})+1))&gt;=1,

/*Value if True*/

(

((year(TODAY()))-(year({!get_Account.Account_Since__c})+1))*12)+

((12-month({!get_Account.Account_Since__c}))+month(TODAY())),

/*If the years are not more than 1 apart, do this calc instead*/

(12-month({!get_Account.Account_Since__c}))+month(TODAY())))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FollowUpDate_NAF</name>
        <dataType>DateTime</dataType>
        <expression>{!FollowUpDate_Today4pmGMT} + {!NAF_HVARCriteria.Follow_Up_Date_Increment__c}</expression>
    </formulas>
    <formulas>
        <name>FollowUpDate_OTR</name>
        <dataType>DateTime</dataType>
        <expression>{!FollowUpDate_Today4pmGMT} + {!OTR_FleetOne_LVAR.Follow_Up_Date_Increment__c}</expression>
    </formulas>
    <formulas>
        <name>FollowUpDate_OTR_FleetOne</name>
        <dataType>DateTime</dataType>
        <expression>{!FollowUpDate_Today4pmGMT} + {!OTR_HVARCriteria.Follow_Up_Date_Increment__c}</expression>
    </formulas>
    <formulas>
        <name>FollowUpDate_Today4pmGMT</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(YEAR({!$Flow.CurrentDate}))+&quot;-&quot; 
+TEXT(YEAR({!$Flow.CurrentDate}))+&quot;-&quot; 
+TEXT(YEAR({!$Flow.CurrentDate}))+&quot; &quot; 
+&quot;16:00:00&quot;
)</expression>
    </formulas>
    <formulas>
        <description>Today + 1</description>
        <name>FollowUpQueueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <description>Determine LOB based on values in the Platform field on the account</description>
        <name>LOB</name>
        <dataType>String</dataType>
        <expression>CASE({!get_Account.Platform__c},
&quot;EDGE&quot;, &quot;OTR&quot;,
&quot;EFSLLC&quot;, &quot;OTR&quot;,
&quot;EFS LLC&quot;, &quot;OTR&quot;,
&quot;EFSTS&quot;, &quot;OTR&quot;,
&quot;FLEETONE&quot;, &quot;OTR&quot;,
&quot;IMPERIAL&quot;, &quot;OTR&quot;,
&quot;IRVING&quot;, &quot;OTR&quot;,
&quot;Millennium&quot;, &quot;NAF&quot;,
&quot;Other&quot;, &quot;N/A&quot;,
&quot;OTR&quot;, &quot;OTR&quot;,
&quot;PINNACLE&quot;, &quot;OTR&quot;,
&quot;Retail&quot;, &quot;N/A&quot;,
&quot;SFJ_SHELL&quot;, &quot;OTR&quot;,
&quot;SHELL_NAV&quot;, &quot;OTR&quot;,
&quot;SIEBEL&quot;, &quot;NAF&quot;,
&quot;TANDEM&quot;, &quot;NAF&quot;,
&quot;TChek&quot;, &quot;OTR&quot;,
&quot;TCHEK_MC&quot;, &quot;CP&quot;,
&quot;TChekMC&quot;, &quot;CP&quot;,
&quot;N/A&quot;
)</expression>
    </formulas>
    <interviewLabel>BR - Case - Collect Queue Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Collections Queue Assignment</label>
    <loops>
        <name>NAF_Loop_Metadata</name>
        <label>NAF - Loop Metadata</label>
        <locationX>1187</locationX>
        <locationY>1787</locationY>
        <assignNextValueToReference>CriteriaVariable</assignNextValueToReference>
        <collectionReference>get_CustomMetadata_routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopWhichCriteria_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OTR_Loop_Metadata</name>
        <label>OTR - Loop Metadata</label>
        <locationX>2189</locationX>
        <locationY>2475</locationY>
        <assignNextValueToReference>CriteriaVariable</assignNextValueToReference>
        <collectionReference>get_CustomMetadata_routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopWhichCriteria</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>1738</locationX>
        <locationY>1249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CustomMetadata_routing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>2451</locationX>
        <locationY>1797</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>caseNullCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_collection_record</name>
        <label>get collection record</label>
        <locationX>1430</locationX>
        <locationY>1261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_collection_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>debugCollectionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Collections__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contract</name>
        <label>get contract</label>
        <locationX>3188</locationX>
        <locationY>2428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contract_null_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collectionsRecord.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CustomMetadata_routing</name>
        <label>get CustomMetadata routing</label>
        <locationX>1914</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OTR_or_NAF_and_Null_Check</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BR_Case_CollectAssignments__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>5832</locationX>
        <locationY>4059</locationY>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_0</name>
        <label>update case</label>
        <locationX>6344</locationX>
        <locationY>1155</locationY>
        <inputReference>get_case</inputReference>
    </recordUpdates>
    <start>
        <locationX>1430</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>debug</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bankruptcyCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>collectionsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Collections__c</objectType>
    </variables>
    <variables>
        <name>CriteriaVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>debugCollectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_AttorneyRetainedCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_Fr_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Canada_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_Flex_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_LateStageCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_OutsourcedCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_SelfcureCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_SoldAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>NAF_StrategicAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>noAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTR_FleetOne_LVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_FollowUpCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_HVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_LateStageCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_LVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_MVARCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_OutsourcedCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_SelfcureCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_SoldAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>OTR_StrategicAccountsCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BR_Case_CollectAssignments__mdt</objectType>
    </variables>
    <variables>
        <name>otrDaysPastDueHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>otrDPDBucketHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>otrPastDueAmountHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>otrVaRHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>otrVaRRateHighValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
    </variables>
</Flow>
