src/flows/Case_Queue_To_Department_Mapping.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Mapping_found</name>
        <label>Mapping found?</label>
        <locationX>538</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDept</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDept</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>currentDepartment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_s_Department</targetReference>
            </connector>
            <label>Yes &amp; Needs To Be Updated</label>
        </rules>
    </decisions>
    <interviewLabel>Case Queue To Department Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Queue To Department Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_the_Custom_MetaData_type</name>
        <label>Lookup the Custom MetaData type</label>
        <locationX>363</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_found</targetReference>
        </connector>
        <filters>
            <field>Queue_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </filters>
        <object>Queue_To_Department_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>varDept</assignToReference>
            <field>Department__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_s_Department</name>
        <label>Update Case&apos;s Department</label>
        <locationX>557</locationX>
        <locationY>465</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>varDept</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_the_Custom_MetaData_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>loopVarDept</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDept</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
