src/flows/Create_Currency_Detail_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Record2_Fields_Populated</name>
        <label>Record2 Fields Populated?</label>
        <locationX>1156</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend2</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Record2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record3_Fields_Populated</name>
        <label>Record3 Fields Populated?</label>
        <locationX>288</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend3</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Record3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend3</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record4_Fields_Populated</name>
        <label>Record4 Fields Populated</label>
        <locationX>857</locationX>
        <locationY>616</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend4</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Record4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend4</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record5_Fields_Populated</name>
        <label>Record5 Fields Populated</label>
        <locationX>538</locationX>
        <locationY>689</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend5</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Record5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Of_Total_Spend5</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrencyList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WECurrency__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Currency Detail Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Currency Detail Records</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record1</name>
        <label>Create Record1</label>
        <locationX>672</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Record2_Fields_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Total_Spend__c</field>
            <value>
                <elementReference>Of_Total_Spend1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Currency_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record2</name>
        <label>Create Record2</label>
        <locationX>674</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Record3_Fields_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Total_Spend__c</field>
            <value>
                <elementReference>Of_Total_Spend2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Currency_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record3</name>
        <label>Create Record3</label>
        <locationX>680</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>Record4_Fields_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Total_Spend__c</field>
            <value>
                <elementReference>Of_Total_Spend3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Currency_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record4</name>
        <label>Create Record4</label>
        <locationX>678</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Record5_Fields_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Total_Spend__c</field>
            <value>
                <elementReference>Of_Total_Spend4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Currency_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Record5</name>
        <label>Create Record5</label>
        <locationX>675</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Of_Total_Spend__c</field>
            <value>
                <elementReference>Of_Total_Spend5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Currency_Detail__c</object>
    </recordCreates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Page</label>
        <locationX>676</locationX>
        <locationY>1018</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Currency Detail Records have been created, click the link below to return to the Opportunity.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReturnURL</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#0000FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://na5.salesforce.com/{!OppId}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Opportunity&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Currency_Details</name>
        <label>New Currency Details</label>
        <locationX>672</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Record1</targetReference>
        </connector>
        <fields>
            <name>Guide</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#666666&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;I&gt;Ignore the required field marker next to the Currency fields, create as many or as few records as you need to.&lt;/I&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Currency1</name>
            <choiceReferences>CurrencyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Of_Total_Spend1</name>
            <dataType>Number</dataType>
            <fieldText>% Of Total Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Currency2</name>
            <choiceReferences>CurrencyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Of_Total_Spend2</name>
            <dataType>Number</dataType>
            <fieldText>% Of Total Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Currency3</name>
            <choiceReferences>CurrencyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Of_Total_Spend3</name>
            <dataType>Number</dataType>
            <fieldText>% Of Total Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Currency4</name>
            <choiceReferences>CurrencyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Of_Total_Spend4</name>
            <dataType>Number</dataType>
            <fieldText>% Of Total Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Currency5</name>
            <choiceReferences>CurrencyList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Of_Total_Spend5</name>
            <dataType>Number</dataType>
            <fieldText>% Of Total Spend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Currency_Details</startElementReference>
    <status>Active</status>
    <variables>
        <description>Will be populated by URL</description>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
