src/flows/Fraud_Purchase_Device_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>All_In_One</name>
        <label>All In One</label>
        <locationX>554</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>AllInOne</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Group_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_By_One</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_into_SObject_Variable</name>
        <label>Assign Data into SObject Variable</label>
        <locationX>562</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>Group_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Group_Record.Claim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_In_One</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>AllDevices</name>
        <dataType>String</dataType>
        <displayField>Vehicle_Card__c</displayField>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Claim__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Fraud_Purchase_Device__c</object>
        <outputAssignments>
            <assignToReference>VarFraudPurchaseDeviceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Vehicle_Card__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Fraud Purchase Device Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fraud Purchase Device Flow</label>
    <loops>
        <name>One_By_One</name>
        <label>One By One</label>
        <locationX>338</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>SingleID</assignNextValueToReference>
        <collectionReference>All_IDs_In_One</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Data_into_SObject_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDevices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>108</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Fraud_Purchase_Devices</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Claim__c</object>
        <outputAssignments>
            <assignToReference>VarCaseID</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDevices</name>
        <label>UpdateDevices</label>
        <locationX>336</locationX>
        <locationY>471</locationY>
        <inputReference>AllInOne</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Fraud_Purchase_Devices</name>
        <label>Confirm Fraud Purchase Devices</label>
        <locationX>102</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MSPToCollection</targetReference>
        </connector>
        <fields>
            <name>Selected_Devices</name>
            <choiceReferences>AllDevices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Devices</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Case</startElementReference>
    <status>Active</status>
    <subflows>
        <name>MSPToCollection</name>
        <label>MSPToCollection</label>
        <locationX>342</locationX>
        <locationY>178</locationY>
        <connector>
            <targetReference>One_By_One</targetReference>
        </connector>
        <flowName>RakeshGupta__MSP_to_Collection_Variable</flowName>
        <inputAssignments>
            <name>SelectedIDs</name>
            <value>
                <elementReference>Selected_Devices</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>All_IDs_In_One</assignToReference>
            <name>All_Selected_IDS</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>All_IDs_In_One</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AllInOne</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fraud_Purchase_Device__c</objectType>
    </variables>
    <variables>
        <name>Group_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fraud_Purchase_Device__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarFlowDeviceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarFraudPurchaseDeviceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
