src/flows/Information_Requested_Case_Comment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>193</locationX>
        <locationY>353</locationY>
        <actionName>Case.New_Comment_CS_Email_Information_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>TRUE</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <description>Without the New CS Comment field update</description>
    <interviewLabel>Information Requested Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Information Requested Case Comment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Case_Comment</name>
        <label>New Case Comment</label>
        <locationX>189</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Update_Case_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>Case_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_Fields</name>
        <label>Update Case Fields</label>
        <locationX>192</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Email_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Information Requested</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Comment_Input</name>
        <label>Case Comment Input</label>
        <locationX>189</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Case_Comment</targetReference>
        </connector>
        <fields>
            <name>Case_Comment</name>
            <fieldText>Case Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Case_Comment_Input</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
