src/flows/JBSystemFlow_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObjbc128670edc72bada85a30f931b403f1_FireJBTrigger</name>
        <label>SalesforceObjbc128670edc72bada85a30f931b403f1_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbc128670edc72bada85a30f931b403f1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Preferred_Language__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;X18_Character_Program_Id__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Coupon_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf0828aa1064998ededbba8ba9237ba8c_FireJBTrigger</name>
        <label>SalesforceObjf0828aa1064998ededbba8ba9237ba8c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf0828aa1064998ededbba8ba9237ba8c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100029437</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Account:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Preferred_Language__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Campaign_Program__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Campaign_Program__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Campaign_Program__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;X18_Character_Program_Id__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;OwnerId&quot;,&quot;Coupon_Code__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</name>
        <label>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf0828aa1064998ededbba8ba9237ba8c</name>
        <label>JB_Decision_Null_Check_SalesforceObjf0828aa1064998ededbba8ba9237ba8c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</targetReference>
            </connector>
            <label>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Decision</name>
        <label>JB_SalesforceObjbc128670edc72bada85a30f931b403f1_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbc128670edc72bada85a30f931b403f1</name>
            <conditionLogic>( ( ( ( ( ( (1 OR 2)  OR 3)  OR 4)  AND  ( ( ( ( ( ( ( ( ( ( (5 OR 6)  OR 7)  OR 8)  OR 9)  OR 10)  OR 11)  OR 12)  OR 13)  OR 14)  OR 15)  OR 16) )  AND  (17 AND 18) )  AND 19)  And  ( ( ( ( ( (20 AND 21)  OR  (22 AND 23) )  AND  ( (24 AND 25)  OR  (26 AND 27) ) )  AND  (28 AND 29) )  AND  ( (30 AND 31)  AND  (32 AND 33) ) )  AND  (34 AND 35) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1) Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2) Engaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3) Evaluating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4) Negotiating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Development Role</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Inbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Outbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Closer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>QBW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Q7E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Response_Methods__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Online App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Program__r.X18_Character_Program_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0Z70000001uyJxEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Program__r.X18_Character_Program_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0Z7000000CJrSGEA1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>+sfmctest@wexinc.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>+sfmctest@levdigital.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.MailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.EmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbc128670edc72bada85a30f931b403f1_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbc128670edc72bada85a30f931b403f1</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Decision</name>
        <label>JB_SalesforceObjf0828aa1064998ededbba8ba9237ba8c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbc128670edc72bada85a30f931b403f1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf0828aa1064998ededbba8ba9237ba8c</name>
            <conditionLogic>( ( ( ( ( ( (1 OR 2)  OR 3)  OR 4)  AND  (5 AND 6) )  AND 7)  AND  ( ( ( ( ( ( ( ( ( ( (8 OR 9)  OR 10)  OR 11)  OR 12)  OR 13)  OR 14)  OR 15)  OR 16)  OR 17)  OR 18)  OR 19) )  And  ( ( ( (20 AND 21)  AND  ( (22 AND 23)  AND  (24 AND 25) ) )  AND  ( (26 AND 27)  OR  (28 AND 29) ) )  AND  (30 AND 31) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1) Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2) Engaged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3) Evaluating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4) Negotiating</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>QBW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Coupon_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Q7E</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Campaign_Response_Methods__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Online App</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IS Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Development Role</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet Outbound Channel Sales 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chevron IS Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Inbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell LDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Outbound Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Opportunity_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shell Closer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>+sfmctest@wexinc.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>+sfmctest@levdigital.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Primary_Contact__r.EmailBouncedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf0828aa1064998ededbba8ba9237ba8c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf0828aa1064998ededbba8ba9237ba8c</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjf0828aa1064998ededbba8ba9237ba8c</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
