src/flows/Lookup_Product_with_Matching_Program.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Product_Option_Fields</name>
        <label>Assign Product Option Fields</label>
        <locationX>1130</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>varOptionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductOptionLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOptionalSKUId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductOptionLoop.Optional_SKU_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSortNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductOptionLoop.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Lines_Options</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Lookup Product with Matching Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup Product with Matching Program</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>940</locationX>
        <locationY>42</locationY>
        <assignNextValueToReference>varProductOptionLoop</assignNextValueToReference>
        <collectionReference>varProductOption</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Option_Fields</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Bundle</name>
        <label>Create Quote Line(Bundle)</label>
        <locationX>606</locationX>
        <locationY>42</locationY>
        <assignRecordIdToReference>varRequiredbyQuoteLineId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Option_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>VarProgramNameIdBundle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>VarQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Lines_Options</name>
        <label>Create Quote Lines (Options)</label>
        <locationX>1056</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Number__c</field>
            <value>
                <elementReference>varSortNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ProductOption__c</field>
            <value>
                <elementReference>varOptionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>varOptionalSKUId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>VarQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RequiredBy__c</field>
            <value>
                <elementReference>varRequiredbyQuoteLineId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Option_Fields</name>
        <label>Get Option Fields</label>
        <locationX>753</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Required_by_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramNameQuote</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>varProductOption</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Optional_SKU_Id__c</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Id_Bundle</name>
        <label>Get Product Id (Bundle)</label>
        <locationX>455</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Line_Bundle</targetReference>
        </connector>
        <filters>
            <field>Program_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramNameQuote</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>VarProgramNameIdBundle</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Name_from_Quote</name>
        <label>Get Program Name from Quote</label>
        <locationX>276</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Id_Bundle</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQuoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>VarProgramNameQuote</assignToReference>
            <field>Program_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Program_Name_from_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SobjectVarProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>TestLoopVariable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestLoopVeriable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>varOptionalSKUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOptionLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProdOptCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>VarProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductOption</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>varProductOptionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductOptionCollectionLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProductOptionIdrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>varProductOptionLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>varProductOptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>VarProgramNameIdBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarProgramNameQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLineOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLinesOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varRequiredbyQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSortNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
