src/flows/Run_Lead_Convert_Apex_Plug_in_Sample_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cConvertLead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Convert Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>cConvertLeadClassName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ConvertLead</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>165</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>No Dont Run Sample Flow</defaultConnectorLabel>
        <rules>
            <name>RuntheFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryLeadConversionForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Lead_Convert_Apx_Plugin_sample</targetReference>
            </connector>
            <label>Run Sample Flow</label>
        </rules>
    </decisions>
    <description>This Flow shows how you can use the included Apex Plug-in for lead conversion in a flow.</description>
    <label>Run Lead Convert Apex Plug-in Sample Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Lead_Convert_Sample_Flow_Summary</name>
        <label>Lead Convert Sample Flow Summary</label>
        <locationX>162</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <fields>
            <name>LeadformShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Flow Apex Plug-in for Lead Conversion&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The  Lead Conversion process converts a lead into an account and contact, as well as (optionally) an opportunity.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Flow Apex Plug-in for Lead Conversion is built in top of the standard convertLead DML operation as documented inthe Apex developers guide.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This sample flow, should you wish to run lets you try it, includes a simple Lead form where you can collect lead information such as the Name, Email Address and the Company. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;It then creates the lead and converts the lead using an Apex Plug-in included in this sample pack.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryLeadConversionForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LeadConvertPluginEnd</name>
        <label>LeadConvertPluginEnd</label>
        <locationX>749</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Flow Apex Plug-in for Lead Conversion&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;That was a sample flow where you can not only just have a form for capturing lead, but also include logic to convert a lead depending on your use cas.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hopefully you got a glimpse into the actual code behind Apex Plug-in!&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lead_Convert_Sample_Flow_Summary</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Run_Lead_Convert_Apx_Plugin_sample</name>
        <label>Run Lead Convert Apx Plugin sample</label>
        <locationX>386</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>show_Convert_Lead_Body</targetReference>
        </connector>
        <flowName>Convert_Lead_Apex_Plug_in_Sample</flowName>
    </subflows>
    <subflows>
        <name>show_Convert_Lead_Body</name>
        <label>show Convert Lead Body</label>
        <locationX>559</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>LeadConvertPluginEnd</targetReference>
        </connector>
        <flowName>Get_Apex_Plug_in_Body</flowName>
        <inputAssignments>
            <name>vaApexPluginName</name>
            <value>
                <elementReference>cConvertLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaApexPluginClassName</name>
            <value>
                <elementReference>cConvertLeadClassName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vClassBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
