src/flows/Run_Send_Email_Apex_Plug_in_Sample_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cSendEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Send Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSendEmailClassName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SendEmail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>165</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>No Dont Run the Flow</defaultConnectorLabel>
        <rules>
            <name>RuntheFlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryLeadConversionForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Apex_Plugin_Sample_Flow</targetReference>
            </connector>
            <label>Run Sample Flow</label>
        </rules>
    </decisions>
    <description>This Flow shows how you can use the included Apex Plug-in for Sending an Email in a flow.</description>
    <label>Run Send Email Apex Plug-in Sample Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Send_Email_Flow_Summary</name>
        <label>Send Email Flow Summary</label>
        <locationX>162</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <fields>
            <name>LeadformShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Flow Apex Plug-in for Sending Emails&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This Flow Apex Plug-in shows how you can send Email with or without attachments (including PDF) from within your flow.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Send Email Flow Apex Plug-in is built in top of the standard SendEmail Apex API as documented inthe Apex developers guide.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;This sample flow, should you wish to run lets you try it, &lt;FONT KERNING=&quot;0&quot;&gt;first includes a simple Lead form where you can collect lead information such as the Name, Email Address and the Company.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The user is then presented with a list of leads based on the information provides and can select an existing lead to send the email to or create a new lead and then send the email to the new lead.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryLeadConversionForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Email_Plugin_End</name>
        <label>Send Email Plugin End</label>
        <locationX>749</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>Hopefully you got a glimpse of the possibilities with Flow with that sample flow for Sending Emails and also had a change to review the code!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Send_Email_Flow_Summary</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Send_Email_Apex_Plugin_Sample_Flow</name>
        <label>Send Email Apex Plugin Sample Flow</label>
        <locationX>400</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>show_Send_Mail_Body</targetReference>
        </connector>
        <flowName>Send_Email_Apex_Plug_in_Sample</flowName>
    </subflows>
    <subflows>
        <name>show_Send_Mail_Body</name>
        <label>show Send Email Body</label>
        <locationX>559</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Send_Email_Plugin_End</targetReference>
        </connector>
        <flowName>Get_Apex_Plug_in_Body</flowName>
        <inputAssignments>
            <name>vaApexPluginName</name>
            <value>
                <elementReference>cSendEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaApexPluginClassName</name>
            <value>
                <elementReference>cSendEmailClassName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vClassBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
