src/flows/Run_Create_and_Attach_PDF_Apex_Plug_in_Sample_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Community</name>
        <choiceText>Community</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContactForm</name>
        <choiceText>Contact Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactForm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Healthcare</name>
        <choiceText>Healthcare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Healthcare</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeadForm</name>
        <choiceText>Lead Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Registrations</name>
        <choiceText>Registrations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registrations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surveys</name>
        <choiceText>Surveys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surveys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tracking</name>
        <choiceText>Tracking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tracking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cCreateandAttachPDF</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create and Attach a PDF</stringValue>
        </value>
    </constants>
    <constants>
        <name>cCreateandAttachPDFClassName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>createAndAttachPDF</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>165</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>No Dont Run the flow</defaultConnectorLabel>
        <rules>
            <name>Runtheflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TryLeadConversionForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_and_Attach_PDF_Apex_Plug_in_Sample_Flow</targetReference>
            </connector>
            <label>Run Sample Flow</label>
        </rules>
    </decisions>
    <description>This Flow shows how you can use the included Apex Plug-in for Creating a PDF attachment to a record as part of a flow.</description>
    <label>Run Create and Attach PDF Apex Plug-in Sample Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>CeateandAttachpdfFlowSummary</name>
        <label>CeateandAttachpdfFlowSummary</label>
        <locationX>162</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <fields>
            <name>LeadformShowSummary</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Flow Apex Plug-in for Creating and Attaching a PDF document to a record&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;This Flow Apex Plug-in shows how you can send Email with or without attachments (including PDF) from within your flow.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;This sample flow, should you wish to run lets you try it, first  includes a simple Lead form where you can collect lead information such as the Name, Email Address and the Company.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The user can choose to create and attach a PDF to an existing lead, presented as a list of choices or create a new lead and then add the attachment to the new lead.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TryLeadConversionForm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to try this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Create_PDF_Plugin_End</name>
        <label>Send Create PDF Plugin End</label>
        <locationX>749</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>Hopefully you got a glimpse of the possibilities with Flow with that sample flow for creating a PDF attachment, attaching it to a salesforced record  and also had a change to review the code!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CeateandAttachpdfFlowSummary</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>Create_and_Attach_PDF_Apex_Plug_in_Sample_Flow</name>
        <label>Create and Attach PDF Apex Plug-in Sample Flow</label>
        <locationX>334</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>show_create_And_Attach_PDF_Body</targetReference>
        </connector>
        <flowName>Create_and_Attach_PDF_Plug_in_Sample</flowName>
    </subflows>
    <subflows>
        <name>show_create_And_Attach_PDF_Body</name>
        <label>show create And Attach PDF Body</label>
        <locationX>559</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Send_Create_PDF_Plugin_End</targetReference>
        </connector>
        <flowName>Get_Apex_Plug_in_Body</flowName>
        <inputAssignments>
            <name>vaApexPluginName</name>
            <value>
                <elementReference>cCreateandAttachPDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vaApexPluginClassName</name>
            <value>
                <elementReference>cCreateandAttachPDFClassName</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>vaTryAgain</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vClassBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
