src/flows/WES_Check_Leads_for_existing_Companies_and_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Dup_Record_IDs_to_Collection_variable</name>
        <label>Assign Dup Record IDs to Collection variable</label>
        <locationX>955</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>DuplicateRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Object_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Values</name>
        <label>Assign Duplicate Values</label>
        <locationX>1238</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>DuplicateCompanyLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateCompanyLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Values_0</name>
        <label>Assign Duplicate Contact Values</label>
        <locationX>1064</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>DuplicateContactLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateContactInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Values_0_0</name>
        <label>Assign Duplicate Lead Values</label>
        <locationX>705</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>DuplicateLeadsLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateLeadLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Record_Item</name>
        <label>Set Duplicate Record Item</label>
        <locationX>136</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>DuplicateRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateRecordItem.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Object_Type</name>
        <label>Record Object Type?</label>
        <locationX>965</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>Duplicate_Company_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Duplicate_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecordItem.RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Contact_Info</targetReference>
            </connector>
            <label>Duplicate is Contact</label>
        </rules>
        <rules>
            <name>Duplicate_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecordItem.RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Company_Info</targetReference>
            </connector>
            <label>Duplicate is Account</label>
        </rules>
        <rules>
            <name>Duplicate_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordid</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Lead_Info_0</targetReference>
            </connector>
            <label>Duplicate is Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordID_in_Set</name>
        <label>RecordID in Set?</label>
        <locationX>952</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Assign_Dup_Record_IDs_to_Collection_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record ID Not in Set</defaultConnectorLabel>
        <rules>
            <name>RecordID_is_in_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecordID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DuplicateRecordItem.RecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Details_0</targetReference>
            </connector>
            <label>RecordID is in Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Lead_that_launched_check</name>
        <label>Same Lead that launched check?</label>
        <locationX>873</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Assign_Duplicate_Values_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different Lead</defaultConnectorLabel>
        <rules>
            <name>Same_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateLead.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Details_0</targetReference>
            </connector>
            <label>Same Lead</label>
        </rules>
    </decisions>
    <formulas>
        <name>DuplicateCompanyLink</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Company.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!Company.Name}&amp;&apos;&lt;/a&gt; &apos;
&amp;&quot; - &lt;b&gt;Match Type:&lt;/b&gt; &quot;
&amp;IF({!Lead.WES_VAT_Reg_Num__c} = {!Company.WES_VAT_Reg_Num__c},&quot; - VAT&quot;, &quot;&quot;)
&amp;IF({!Lead.Company_registration_number__c} = {!Company.Company_registration_number__c}, &quot; - Company Reg #&quot;, &quot;&quot;)
&amp;IF({!Lead.Website} = {!Company.Website}, &quot; - Website&quot;, &quot;&quot;)
&amp;IF({!Lead.Company} = {!Company.Name}, &quot; - Company Name&quot;, &quot;&quot;)
&amp;IF({!Lead.Phone} = {!Company.Phone}, &quot; - Phone&quot;, &quot;&quot;)
&amp;IF({!Lead.Street} = {!Company.BillingStreet}
&amp;&amp; ({!Lead.City} = {!Company.BillingCity}), &quot; - Address&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DuplicateContactInfo</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Contact.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!Contact.Name}&amp;&apos;&lt;/a&gt; &apos;
&amp;&quot;- &lt;b&gt;Match Type: &lt;/b&gt; &quot;
&amp;IF({!Lead.Name} = {!Contact.Name}, &quot; - Name&quot;, &quot;&quot;)
&amp;IF({!Lead.Email} = {!Contact.Email}, &quot; - Email&quot;, &quot;&quot;)
&amp;IF({!Lead.Phone} = {!Contact.Phone}, &quot; - Phone&quot;, &quot;&quot;)
&amp;IF({!Lead.Street} = {!Contact.MailingStreet}
&amp;&amp; ({!Lead.City} = {!Contact.MailingCity}), &quot; - Address&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>DuplicateLeadLinks</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!DuplicateLead.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!DuplicateLead.Name}&amp;&apos;&lt;/a&gt; &apos;
&amp;&quot;- &lt;b&gt;Match Type: &lt;/b&gt; &quot;
&amp;IF({!Lead.Name} = {!DuplicateLead.Name}, &quot; - Name&quot;, &quot;&quot;)
&amp;IF({!Lead.Email} = {!DuplicateLead.Email}, &quot; - Email&quot;, &quot;&quot;)
&amp;IF({!Lead.Phone} = {!DuplicateLead.Phone}, &quot; - Phone&quot;, &quot;&quot;)
&amp;IF({!Lead.Street} = {!DuplicateLead.Street}
&amp;&amp; ({!Lead.City} = {!DuplicateLead.City}), &quot; - Address&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>WES - Check Leads for existing Companies and Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WES - Check Leads for existing Companies and Contacts</label>
    <loops>
        <name>Find_Duplicate_Details</name>
        <label>Find Duplicate Details</label>
        <locationX>594</locationX>
        <locationY>380</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Potential_Duplicate_Companies_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mark_Customer_Applicant_Check_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Duplicate_Details_0</name>
        <label>Find Duplicate Details</label>
        <locationX>759</locationX>
        <locationY>326</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecord2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordID_in_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Duplicate_Details_1</name>
        <label>Find Duplicate Details</label>
        <locationX>361</locationX>
        <locationY>172</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Duplicate_Record_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Potential_Duplicate_Companies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Duplicate_Company_Info</name>
        <label>Duplicate Company Info</label>
        <locationX>1240</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Duplicate_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Company.BillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.BillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.WES_Bank_Account_Number__c</assignToReference>
            <field>WES_Bank_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Duplicate_Contact_Info</name>
        <label>Duplicate Contact Info</label>
        <locationX>1049</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Duplicate_Values_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.MailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.MailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Duplicate_Lead_Info_0</name>
        <label>Duplicate Lead Info</label>
        <locationX>721</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Same_Lead_that_launched_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>DuplicateLead.City</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateLead.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateLead.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateLead.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateLead.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateLead.Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Lead_Details</name>
        <label>Find Lead Details</label>
        <locationX>197</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Potential_Duplicate_Companies_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead.City</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Company</assignToReference>
            <field>Company</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Lead.Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>364</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies_0</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>760</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
        <filters>
            <field>DuplicateRecordSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.DuplicateRecordSetId</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecord2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies_0_0</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>358</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details_1</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Customer_Applicant_Check_True</name>
        <label>Mark Customer / Applicant Check True</label>
        <locationX>39</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Show_Duplicate_Companies</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WES_CustomerApplicantCheckComplete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Show_Duplicate_Companies</name>
        <label>Show Duplicate Companies</label>
        <locationX>37</locationX>
        <locationY>533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateEntryScreen</name>
            <fieldText>&lt;b&gt;Lead Matches:&lt;/b&gt; {!DuplicateLeadsLinks}

&lt;b&gt;Contact Matches:&lt;/b&gt; {!DuplicateContactLinks}

&lt;b&gt;Previous Applicants or Customers Matches:&lt;/b&gt; {!DuplicateCompanyLinks}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>45</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Lead_Details</targetReference>
        </connector>
        <fields>
            <name>StartDirections</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click the Next button&lt;/B&gt; for a list of potential previous applicants or customers.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Start</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CompanyLink</name>
        <text>&lt;br/&gt;&lt;a href = &quot;/{!DuplicateRecordItem.RecordId}&quot;&gt;{!DuplicateRecordItem.RecordId}&lt;/a&gt; - {!varDuplicateRuleName}</text>
    </textTemplates>
    <variables>
        <name>AppCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DuplicateAccountName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateCompanyID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateCompanyLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateContactLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>DuplicateLeadsLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecordItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
