src/flows/WES_Find_Duplicate_Companies.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Duplicate_Values</name>
        <label>Assign Duplicate Values</label>
        <locationX>635</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Company.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateCompanyLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateCompanyLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_Values_0</name>
        <label>Assign Duplicate App Values</label>
        <locationX>851</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>DuplicateRecordID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateApplicationLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DuplicateAppLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Duplicate_App_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_App_CompayID</name>
        <label>Set App CompayID</label>
        <locationX>39</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>AppCompany.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_App_Company_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Duplicate_Item</name>
        <label>Account Duplicate Item</label>
        <locationX>661</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Acccount_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecordItem.RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Company_Info</targetReference>
            </connector>
            <label>Acccount Duplicate?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Duplicate_Already_Set</name>
        <label>Company Duplicate Already Set?</label>
        <locationX>791</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Assign_Duplicate_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Company to Duplicate Set</defaultConnectorLabel>
        <rules>
            <name>Skip</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AppCompany.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Company.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DuplicateRecordID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Company.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicate_Details_0</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_App_or_Account</name>
        <label>Is App or Account?</label>
        <locationX>231</locationX>
        <locationY>29</locationY>
        <defaultConnector>
            <targetReference>Find_App_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Application</defaultConnectorLabel>
        <rules>
            <name>Is_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordid</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_App_CompayID</targetReference>
            </connector>
            <label>Is account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_App_or_Account_1</name>
        <label>Started with App or Account?</label>
        <locationX>61</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Show_Duplicate_Companies_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Application</defaultConnectorLabel>
        <rules>
            <name>Is_account_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordid</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Duplicate_Companies</targetReference>
            </connector>
            <label>Is account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Application_that_started_check</name>
        <label>Same Application that started check?</label>
        <locationX>904</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Assign_Duplicate_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add App to Duplicate Set</defaultConnectorLabel>
        <rules>
            <name>Skip_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DuplicateRecordItem.RecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Duplicate_App_Details</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <formulas>
        <name>DuplicateAppLinks</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!DupAppRequest.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!DupAppRequest.Name}&amp;&quot; - &quot;&amp;{!DupAppRequest.Company_Name__c}&amp;&apos;&lt;/a&gt; &apos;</expression>
    </formulas>
    <formulas>
        <name>DuplicateCompanyLink</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;a href=&quot;&apos;&amp;LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Company.Id}&amp;&apos;&quot;&gt;&apos;&amp;{!Company.Name}&amp;&apos;&lt;/a&gt; &apos;
&amp;&quot; - &lt;b&gt;Match Type:&lt;/b&gt; &quot;
&amp;IF({!AppCompany.WES_VAT_Reg_Num__c} = {!Company.WES_VAT_Reg_Num__c},&quot; - VAT&quot;, &quot;&quot;)
&amp;IF({!AppCompany.Company_registration_number__c} = {!Company.Company_registration_number__c}, &quot; - Company Reg #&quot;, &quot;&quot;)
&amp;IF({!AppCompany.BillingStreet} = {!Company.BillingStreet} 
&amp;&amp; ({!AppCompany.BillingCity} = {!Company.BillingCity}) , &quot; - Address&quot;, &quot;&quot;)
&amp;IF({!AppCompany.Phone} = {!Company.Phone}, &quot; - Phone&quot;, &quot;&quot;)
&amp;IF({!AppCompany.Name} = {!Company.Name}, &quot; - Company Name&quot;, &quot;&quot;)
&amp;IF({!AppCompany.Website} = {!Company.Website}, &quot; - Website&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>WES Find Duplicate Companies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WES Previous Applicant or Customer Check</label>
    <loops>
        <name>Find_Duplicate_Details</name>
        <label>Find Duplicate Company Details</label>
        <locationX>41</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Potential_Duplicate_Companies_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_App_or_Account_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Duplicate_Details_0</name>
        <label>Find Duplicate Company Details</label>
        <locationX>406</locationX>
        <locationY>342</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>DuplicateRecord2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Duplicate_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Duplicate_App_Details</name>
        <label>Loop Duplicate App Details</label>
        <locationX>524</locationX>
        <locationY>214</locationY>
        <assignNextValueToReference>DuplicateRecordItem</assignNextValueToReference>
        <collectionReference>AppDupRecords2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Dup_Application_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_App_Company_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Duplicate_Company_Info</name>
        <label>Duplicate Company Info</label>
        <locationX>893</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Duplicate_Already_Set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Company.BillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.BillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company.Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_All_App_Dups</name>
        <label>Find All App Dups</label>
        <locationX>535</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Duplicate_App_Details</targetReference>
        </connector>
        <filters>
            <field>DuplicateRecordSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.DuplicateRecordSetId</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>AppDupRecords2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_App_Company_Details</name>
        <label>Find App Company Details</label>
        <locationX>40</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Potential_Duplicate_Companies</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppCompany.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AppCompany.BillingCity</assignToReference>
            <field>BillingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.BillingStreet</assignToReference>
            <field>BillingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.Company_registration_number__c</assignToReference>
            <field>Company_registration_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.WES_VAT_Reg_Num__c</assignToReference>
            <field>WES_VAT_Reg_Num__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AppCompany.Website</assignToReference>
            <field>Website</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_App_Details</name>
        <label>Find App Details</label>
        <locationX>221</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_App_Duplicate_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>WES_Application_Request__c</object>
        <outputAssignments>
            <assignToReference>AppCompany.Id</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WES_App.bankAccountNumber__c</assignToReference>
            <field>bankAccountNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_App_Duplicate_Record</name>
        <label>Find App Duplicate Record</label>
        <locationX>376</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_All_App_Dups</targetReference>
        </connector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputAssignments>
            <assignToReference>DuplicateRecordItem.DuplicateRecordSetId</assignToReference>
            <field>DuplicateRecordSetId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DuplicateRecordItem.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Dup_Application_Details</name>
        <label>Find Dup Application Details</label>
        <locationX>749</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Same_Application_that_started_check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.RecordId</elementReference>
            </value>
        </filters>
        <object>WES_Application_Request__c</object>
        <outputAssignments>
            <assignToReference>DupAppRequest.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DupAppRequest.Company_Name__c</assignToReference>
            <field>Company_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DupAppRequest.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DupAppRequest.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DupAppRequest.bankAccountNumber__c</assignToReference>
            <field>bankAccountNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>41</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppCompany.Id</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Potential_Duplicate_Companies_0</name>
        <label>Find Potential Duplicate Companies</label>
        <locationX>426</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Duplicate_Details_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>DuplicateRecordSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateRecordItem.DuplicateRecordSetId</elementReference>
            </value>
        </filters>
        <object>DuplicateRecordItem</object>
        <outputReference>DuplicateRecord2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordId</queriedFields>
        <queriedFields>DuplicateRecordSetId</queriedFields>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>215</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateEntryScreen_0</name>
            <fieldText>Potential Previous Applicants or Customers:

{!DuplicateCompanyLinks}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Duplicate_Companies</name>
        <label>Show Duplicate Companies</label>
        <locationX>11</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateEntryScreen</name>
            <fieldText>Company Matches:
{!DuplicateCompanyLinks}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Duplicate_Companies_0</name>
        <label>Show Duplicate Companies</label>
        <locationX>198</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DuplicateEntryScreen_1</name>
            <fieldText>Company Matches:
{!DuplicateCompanyLinks}

Bank Account # Matches: &lt;b&gt;{!WES_App.bankAccountNumber__c}&lt;/b&gt;
{!DuplicateApplicationLinks}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>403</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_App_or_Account</targetReference>
        </connector>
        <fields>
            <name>StartDirections</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click the Next button&lt;/B&gt; for a list of potential previous applicants or customers.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Start</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>CompanyLink</name>
        <text>&lt;br/&gt;&lt;a href = &quot;/{!DuplicateRecordItem.RecordId}&quot;&gt;{!DuplicateRecordItem.RecordId}&lt;/a&gt; - {!varDuplicateRuleName}</text>
    </textTemplates>
    <variables>
        <name>AppCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AppDupRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>AppDupRecords2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DupAppRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WES_Application_Request__c</objectType>
    </variables>
    <variables>
        <name>DuplicateAccountName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateApplicationLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateCompanyLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecordID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateRecordItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DuplicateRecordItem</objectType>
    </variables>
    <variables>
        <name>DuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDuplicateRuleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WES_App</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WES_Application_Request__c</objectType>
    </variables>
</Flow>
